{% extends 'entries/competition_detail.html' %}

{% block scripts %}
<!-- TODO: Remove mootools, swap to jQuery. -->
<script src="{{ STATIC_URL }}js/mootools-core-1.3.js"></script>
<script src="{{ STATIC_URL }}js/olympic-index.js"></script>
{% endblock scripts %}

{% block competition_content %}
<div class="module olympic">
    <h4>Head to Heads</h4>
    <p>
        <a class="btn" href="{% url 'olympic_setup' slug=competition.slug %}">Setup</a>
        <a class="btn" href="{% url 'olympic_field_plan' slug=competition.slug %}">Field plan</a>
        <a class="btn" href="{% url 'olympic_tree' slug=competition.slug %}">Tree (no results)</a>
        <a class="btn" href="{% url 'olympic_results' slug=competition.slug %}">Results</a>
    </p>
    <p>
        {% for round in rounds %}
        <a class="btn" href="{% url 'olympic_score_sheet' slug=competition.slug round_id=round.pk %}">Score sheets for {{ round }}</a>
        {% endfor %}
    </p>
    {% include 'scores/_leaderboard.html' with include_confirmation_form=True %}
</div>
{% endblock %}
