table.field-plan
  margin: 15px 0

  tbody
    font-size: 10px

  td, th
    padding: 5px 1px
    border: 1px solid $borders
    &.empty
      background-color: $borders

table.table
  .missed-cut
    background-color: #e3e3e3

table.tree
  margin: 0 auto
  border-collapse: collapse
  td
    padding: 5px 8px
    &:nth-child(3n)
      padding-right: 30px
    &.border-top
      border-top: 1px solid #bbb
    &.border-bottom
      border-bottom: 1px solid #bbb
    &.border-right
      border-right: 1px solid #bbb

.olympic-match-entry
  display: flex
  flex-wrap: wrap
  text-align: center

  &__form
    width: 100%

  &__match
    width: 50%

  &__archers
    width: 100%
    display: flex
    justify-content: center


// H2H sets (probably temporary style)
.match-sets
  width: 100%
  & > div
    display: flex
    flex-wrap: wrap
    text-align: center
    justify-content: center

  & > div > label
    width: 100%
    font-weight: bold
    margin-top: 1em

  & input[type="radio"]
    display: inline !important
    width: auto !important
