#target-input
  .header-title
    height: 44px
    margin: 0
    font-size: 22px
    text-align: right
    width: 100%

  .full-height-page
    display: flex
    flex-direction: column
    height: calc(100% - 44px)
    width: 100vw
    position: fixed
    top: 44px
    left: 0
    background-color: $bluegrey

    &__loading
      height: 100%
      width: 100%
      color: white
      font-weight: bold
      text-align: center
      line-height: 50vh
      font-size: larger

  .session-selector
    margin: 30px
    text-align: center
    padding: 15px 10px
    background-color: $lightblue
    border-radius: 4px
    line-height: 1.4

    &__event
      font-weight: bold
      margin: 0 0 5px

    &__session
      margin: 15px 0 0
      padding: 5px 0 0
      border: 1px solid black
      border-radius: 5px
      background-color: white

      &__time
        font-weight: bold

      &__action
        display: block
        padding: 5px
        margin: 5px 0 0
        background-color: $wared
        width: 100%
        color: white
        font-weight: bold

  .scoring-header
    display: flex
    justify-content: space-between
    padding: 0 10px

    h3
      color: white

  .archers
    display: grid
    grid-gap: 3px

    &__row
      padding: 3px 10px
      background-color: $lightblue

      display: grid
      grid-template-columns: 30px 1fr auto
      grid-gap: 3px
      align-items: baseline

    &__target
      font-size: 15px

    &__name
      font-weight: bold

    &__score
      grid-column-end: span 3
      display: grid
      grid-template-columns: repeat(5, 1fr)
      grid-gap: 3px
      align-items: baseline
      text-align: center

      &__total,
      &__running,
        font-weight: bold

      &__input
        border: 1px solid transparent
        transition: background-color 0.5s, padding 0.5s, border 0.5s
        height: 100%

    &__summary
      grid-column-end: span 3
      display: grid
      grid-template-columns: repeat(3, 1fr)
      grid-gap: 3px
      align-items: baseline
      font-weight: bold

      &__legend
        font-weight: normal

    &__row--current
      .archers__score__input
        background-color: white
        border: 1px solid $dark
        border-radius: 4px
        padding: 6px 0
        font-weight: bold
        
        &--active
          box-shadow: 0 0 2px $hlorange inset
          border-color: $hlorange
          background-color: $bg-dark

  .score-input
    display: grid
    grid-template-columns: repeat(4, 1fr)
    grid-template-rows: repeat(3, 1fr)
    background-color: $bluegrey
    grid-gap: 5px
    padding: 5px
    flex-grow: 1

    &__control
      font-size: 25px
      font-weight: bold
      border-radius: 4px
      display: flex
      align-items: center
      justify-content: center

      &--gold
        background-color: $wagold
      &--red
        background-color: $wared
        color: white
      &--blue
        background-color: $wablue
      &--black
        background-color: $wablack
        color: white
      &--white
        background-color: $wawhite
      &--green
        background-color: $wagreen
        color: white

      &--miss
        grid-column-end: span 2

  .actions
    padding: 5px

    &__button
      width: 100%
      text-align: center
      padding: 8px 5px
      margin: 5px 0
      background-color: $wared
      color: white
      font-weight: bold
      border-radius: 4px
