@import font_awesome/font-awesome
@import colors
@import layout
@import tables
@import forms
@import typography
@import buttons
@import components/header_nav
@import components/banner_header
@import components/link_list
@import components/archer_block
@import components/index
@import components/score_sheet

body
  color: $dark
  background-image: linear-gradient($bg 50px, rgba(0, 0, 0, 0) 150px)

.clear
  &:before, &:after
    display: table
    content: ' '
  &:after
    clear: both


.hidden
  display: none

.text-right
  text-align: right

@import competition
@import target_list
@import score_sheets
@import olympic
@import target_input
