.archer-block
  margin-bottom: 15px
  border: 1px solid $lightblue
  overflow: hidden
  @include border-radius(10px)

  .name
    background-color: $lightblue
    padding: 3px 10px

  .bottom
    padding: 3px 10px

  .pill
    font-size: 70%
    font-weight: bold
    background: $oxford
    color: #fff
    padding: 0.2em 0.8em 0.3em
    @include border-radius(1em)
