.archer-block
  font-size: 13px
  margin-bottom: 15px
  border: 1px solid $lightblue
  overflow: hidden
  @include border-radius(5px)

  .name
    font-size: 14px
    background-color: $lightblue
    padding: 0 10px
    overflow: auto

  .actions
    float: right
    line-height: 25px
    font-size: 16px

    .action-button
      cursor: pointer
      &.delete:before
        padding: 5px 0px 6px 0px
        @include fa-icon()
        content: $fa-var-remove

  .bottom
    padding: 0 10px

.pill
  font-size: 11px
  line-height: 2em
  font-weight: bold
  background-color: $oxford
  color: #fff
  padding: 0.2em 0.8em 0.3em
  white-space: nowrap
  @include border-radius(0.5em)

  &.gent
    background-color: $orange
  &.lady
    background-color: $pink

  &.recurve
    background-color: $red
  &.compound
    background-color: $gold
    color: $dark
  &.barebow
    background-color: $lightblue
    color: $dark
  &.longbow
    background-color: $dark
