ul.link-list
  border-top: 1px solid $bg

  li
    border-bottom: 1px solid $bg
    p
      padding: 10px
      margin: 0

    a
      padding: 10px
      display: block
      &:hover
        background: $bg
        cursor: pointer
      i.fa
        margin-right: 5px
        color: $borders
