body {
  background-color: #002147;
  font-family: Georgia; }

h1, h2, h3, h4, h5, h6 {
  background-image: -webkit-linear-gradient(#20364e, #111d2a, #111d2a, #20364e);
  color: white;
  margin: 5px 0px;
  padding: 5px;
  text-align: center; }

a {
  color: #000f1f;
  text-decoration: none; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

li {
  display: block; }

.clear {
  clear: both; }

.hidden {
  display: none; }

.text-right {
  text-align: right; }

.wrapper {
  background-color: #fbeedb;
  border-radius: 15px;
  color: #000f1f;
  margin: 20px auto;
  width: 1000px; }

nav {
  background-image: -webkit-linear-gradient(#dddafa, #fbeedb);
  border-radius: 15px 15px 0 0;
  font-weight: bold;
  overflow: hidden;
  padding-bottom: 10px;
  text-align: center;
  width: 100%; }
  nav .nav-link {
    background-color: #002147;
    border-radius: 0 0 5px 5px;
    box-shadow: 0px 1px 2px #000f1f;
    color: white;
    display: inline-block;
    padding: 8px 8px 3px 8px;
    position: relative;
    top: -5px;
    -webkit-transition: all 0.15s ease-in-out; }
    nav .nav-link:hover {
      box-shadow: 0px 1px 3px #000f1f;
      background-color: #8579fa;
      position: relative;
      top: 0px; }

footer {
  font-size: 10px;
  padding: 5px 0;
  margin-top: 5px;
  text-align: center; }
  footer p {
    margin: 0; }

#login {
  width: 300px;
  padding-top: 15px; }
  #login .error {
    color: #d58100;
    font-size: 12px;
    text-align: center;
    padding: 0 10px; }
  #login table {
    border-spacing: 5px;
    margin: 0 auto 10; }
    #login table input {
      border: 2px solid #dddafa;
        border-radius: 4px;
      font-family: Verdana;
      margin: 0;
      outline: none;
      padding: 5px; }
      #login table input:focus {
        border-color: #6fb3ff; }
  #login .submit {
    text-align: center; }
    #login .submit input[type=submit] {
      border: 2px solid #111d2a;
        border-radius: 10px;
      background-image: -webkit-linear-gradient(#111d2a, #353345, #111d2a);
      color: white;
      cursor: pointer;
      font-size: 18px;
      font-family: Georgia;
      font-weight: bold;
      margin: 0 auto;
      padding: 5px; }

.module {
  background-color: white;
  border: 1px solid #111d2a; }
  .module h4 {
    margin-top: 0; }

.competition-section {
  margin: 15px 10px; }
  .competition-section .competition-nav {
    border: 1px solid #353345;
      border-top: none;
    background-color: #dddafa;
    float: left;
    height: 100%;
    width: 200px; }
    .competition-section .competition-nav h2 {
      font-size: 18px;
      margin: 0;
      padding: 5px; }
    .competition-section .competition-nav ul {
      margin: 0;
      padding: 0; }
      .competition-section .competition-nav ul li {
        border-bottom: 1px solid #353345;
        padding: 7px 10px; }
      .competition-section .competition-nav ul a:hover {
        text-decoration: none; }
        .competition-section .competition-nav ul a:hover li {
          background-color: #070052;
          color: white; }
  .competition-section .competition-content {
    float: left;
    margin: 0 10px;
    width: 758px; }
    .competition-section .competition-content .competition-entries .top .new-entry {
      float: left; }
      .competition-section .competition-content .competition-entries .top .new-entry .new-entry-form {
        padding: 5px; }
        .competition-section .competition-content .competition-entries .top .new-entry .new-entry-form input {
          border: 2px solid #dddafa;
            border-radius: 4px;
          font-family: Verdana;
          font-size: 18px;
          margin: 0;
          outline: none;
          padding: 5px;
          width: 300px; }
          .competition-section .competition-content .competition-entries .top .new-entry .new-entry-form input:focus {
            border-color: #6fb3ff; }
          .competition-section .competition-content .competition-entries .top .new-entry .new-entry-form input::webkit-input-placeholder {
            font-style: italic; }
        .competition-section .competition-content .competition-entries .top .new-entry .new-entry-form .options-wrapper .options {
          margin: 0 0px;
          width: 300px; }
          .competition-section .competition-content .competition-entries .top .new-entry .new-entry-form .options-wrapper .options .option {
            background-color: white;
            border-left: 2px solid #dddafa;
            border-right: 2px solid #dddafa;
            border-bottom: 1px solid #dddafa;
            font-family: Verdana;
            padding: 3px 5px; }
            .competition-section .competition-content .competition-entries .top .new-entry .new-entry-form .options-wrapper .options .option:last-child {
              border-bottom-width: 2px; }
            .competition-section .competition-content .competition-entries .top .new-entry .new-entry-form .options-wrapper .options .option.selected {
              background-color: #353345;
              color: white; }
        .competition-section .competition-content .competition-entries .top .new-entry .new-entry-form #archer-widget {
          margin: 0 auto 10px;
          width: 300px; }
        .competition-section .competition-content .competition-entries .top .new-entry .new-entry-form .archer-details {
          visibility: hidden;
          opacity: 0;
          width: 450px;
          -webkit-transition: all 0.2s ease-in-out; }
          .competition-section .competition-content .competition-entries .top .new-entry .new-entry-form .archer-details.shown {
            visibility: visible;
            opacity: 1; }
          .competition-section .competition-content .competition-entries .top .new-entry .new-entry-form .archer-details .button {
            border: 2px solid #6fb3ff;
              border-radius: 10px;
            background-image: -webkit-linear-gradient(#b4adf4, #dddafa, #b4adf4);
            cursor: pointer;
            padding: 5px;
            text-align: center;
            -webkit-user-select: none; }
            .competition-section .competition-content .competition-entries .top .new-entry .new-entry-form .archer-details .button.selected {
              background-image: -webkit-linear-gradient(#111d2a, #353345, #111d2a);
              border-color: #111d2a;
              color: white; }
          .competition-section .competition-content .competition-entries .top .new-entry .new-entry-form .archer-details #club-widget {
            margin: 0 auto;
            width: 300px; }
          .competition-section .competition-content .competition-entries .top .new-entry .new-entry-form .archer-details .save {
            background-image: -webkit-linear-gradient(#111d2a, #353345, #111d2a);
            border-color: #111d2a;
            color: white;
            float: right; }
          .competition-section .competition-content .competition-entries .top .new-entry .new-entry-form .archer-details .show-more-details {
            float: left;
            cursor: pointer; }
            .competition-section .competition-content .competition-entries .top .new-entry .new-entry-form .archer-details .show-more-details .pointer {
              display: inline-block;
              font-size: 20px;
              line-height: 12px;
              -webkit-transition: -webkit-transform 0.2s ease-in-out; }
            .competition-section .competition-content .competition-entries .top .new-entry .new-entry-form .archer-details .show-more-details.selected .pointer {
              -webkit-transform: rotate(90deg); }
          .competition-section .competition-content .competition-entries .top .new-entry .new-entry-form .archer-details .more-details {
            display: none;
            padding: 10px 0;
            text-align: center; }
            .competition-section .competition-content .competition-entries .top .new-entry .new-entry-form .archer-details .more-details.shown {
              display: block; }
    .competition-section .competition-content .competition-entries .top .stats {
      float: right; }
      .competition-section .competition-content .competition-entries .top .stats ul {
        margin: 0 10px 10px 10px; }
    .competition-section .competition-content .competition-entries .entries-table {
      margin-top: 10px; }
      .competition-section .competition-content .competition-entries .entries-table table {
        border-collapse: collapse;
        width: 100%; }
        .competition-section .competition-content .competition-entries .entries-table table td:last-child.delete {
          cursor: pointer; }
        .competition-section .competition-content .competition-entries .entries-table table tr:hover td:last-child.delete {
          background-color: #070052;
          color: white; }
        .competition-section .competition-content .competition-entries .entries-table table td {
          padding: 3px; }
        .competition-section .competition-content .competition-entries .entries-table table .top td {
          border-top: 1px solid #111d2a; }
        .competition-section .competition-content .competition-entries .entries-table table .bottom td {
          font-size: 14px; }
        .competition-section .competition-content .competition-entries .entries-table table .tall {
          border-left: 1px solid #111d2a;
          text-align: center; }
    .competition-section .competition-content .target-list-nav .session-select {
      width: 100%; }
    .competition-section .competition-content .target-list-nav .round-select {
      display: none;
      width: 100%; }
      .competition-section .competition-content .target-list-nav .round-select.selected {
        display: block; }
    .competition-section .competition-content .target-list-nav .link {
      background-color: #dddafa;
      float: left;
      font-weight: bold;
      text-align: center; }
    .competition-section .competition-content .target-list-nav .selected {
      background-color: #6fb3ff; }
    .competition-section .competition-content .target-list .target-list-gen {
      display: none;
      width: 100%; }
      .competition-section .competition-content .target-list .target-list-gen.selected {
        display: block; }
      .competition-section .competition-content .target-list .target-list-gen .archer {
        background-color: #dddafa;
        padding: 2px;
        border-bottom: 1px solid #111d2a;
        -webkit-user-select: none; }
        .competition-section .competition-content .target-list .target-list-gen .archer:not(.blank) {
          cursor: pointer;
          -webkit-user-drag: element; }
        .competition-section .competition-content .target-list .target-list-gen .archer:-webkit-drag {
          border: 1px solid #111d2a;
          opacity: 0.5; }
          .competition-section .competition-content .target-list .target-list-gen .archer:-webkit-drag p:not(.name) {
            display: none; }
        .competition-section .competition-content .target-list .target-list-gen .archer.blank {
          background-color: #fbeedb; }
      .competition-section .competition-content .target-list .target-list-gen .board-wrapper {
        float: left;
        width: 70%; }
        .competition-section .competition-content .target-list .target-list-gen .board-wrapper .board {
          margin: 8px 0 8px 8px; }
          .competition-section .competition-content .target-list .target-list-gen .board-wrapper .board .target {
            width: 100%; }
            .competition-section .competition-content .target-list .target-list-gen .board-wrapper .board .target div {
              float: left; }
              .competition-section .competition-content .target-list .target-list-gen .board-wrapper .board .target div.number {
                text-align: center;
                width: 8%; }
                .competition-section .competition-content .target-list .target-list-gen .board-wrapper .board .target div.number p {
                  border: 1px solid #111d2a;
                  margin: 0;
                  padding: 2px 0; }
              .competition-section .competition-content .target-list .target-list-gen .board-wrapper .board .target div.detail {
                width: 92%; }
                .competition-section .competition-content .target-list .target-list-gen .board-wrapper .board .target div.detail.drag-over .archer {
                  background-color: #6fb3ff; }
                .competition-section .competition-content .target-list .target-list-gen .board-wrapper .board .target div.detail .archer {
                  border: 1px solid #111d2a;
                  padding: 2px 0 2px 0;
                  width: 100%; }
                  .competition-section .competition-content .target-list .target-list-gen .board-wrapper .board .target div.detail .archer p {
                    margin: 0;
                    padding-left: 5px;
                    float: left; }
                    .competition-section .competition-content .target-list .target-list-gen .board-wrapper .board .target div.detail .archer p.club {
                      float: right;
                      padding-right: 5px; }
      .competition-section .competition-content .target-list .target-list-gen .entries-wrapper {
        float: right;
        width: 30%; }
        .competition-section .competition-content .target-list .target-list-gen .entries-wrapper .entries {
          border: 1px solid #111d2a;
          border-bottom: none;
          margin: 8px; }
          .competition-section .competition-content .target-list .target-list-gen .entries-wrapper .entries h5 {
            margin: 0; }
          .competition-section .competition-content .target-list .target-list-gen .entries-wrapper .entries .archer p {
            margin: 0;
            float: right; }
            .competition-section .competition-content .target-list .target-list-gen .entries-wrapper .entries .archer p.name {
              float: left; }
            .competition-section .competition-content .target-list .target-list-gen .entries-wrapper .entries .archer p.club {
              display: none; }
    .competition-section .competition-content .registration .registration-board {
      display: none; }
      .competition-section .competition-content .registration .registration-board.selected {
        display: block; }
      .competition-section .competition-content .registration .registration-board .actions {
        margin: 10px; }
        .competition-section .competition-content .registration .registration-board .actions .action {
          float: left; }
          .competition-section .competition-content .registration .registration-board .actions .action.active {
            font-style: italic; }
      .competition-section .competition-content .registration .registration-board table {
        border-collapse: collapse;
        margin-top: 10px;
        width: 100%; }
        .competition-section .competition-content .registration .registration-board table th {
          background-color: #dddafa; }
        .competition-section .competition-content .registration .registration-board table th, .competition-section .competition-content .registration .registration-board table td {
          border: 1px solid #111d2a;
          padding: 4px; }
        .competition-section .competition-content .registration .registration-board table tr.present {
          background-color: #fbeedb; }
          .competition-section .competition-content .registration .registration-board table tr.present a.present {
            display: none; }
        .competition-section .competition-content .registration .registration-board table tr:not(.present) a.not-present {
          display: none; }
    .competition-section .competition-content .input-scores .input-board {
      display: none; }
      .competition-section .competition-content .input-scores .input-board.selected {
        display: block; }
      .competition-section .competition-content .input-scores .input-board .boss {
        background-color: #dddafa;
        border: 1px solid #6fb3ff;
        float: left;
        font-size: 20px;
        height: 30px;
        margin: 5px;
        text-align: center;
        width: 30px; }
        .competition-section .competition-content .input-scores .input-board .boss.done {
          background-color: #353345;
          border-color: #111d2a;
          color: white; }
      .competition-section .competition-content .input-scores .input-board .boss-link:focus {
        outline: none; }
        .competition-section .competition-content .input-scores .input-board .boss-link:focus .boss {
          border-color: #ffc600;
          box-shadow: 0 0 5px #ffc600; }
    .competition-section .competition-content .input-arrows table {
      margin: 0 auto; }
    .competition-section .competition-content .input-arrows input {
      border: 1px solid #6fb3ff;
      border-radius: 3px;
      outline: none;
      text-align: center;
      width: 20px; }
      .competition-section .competition-content .input-arrows input:focus {
        box-shadow: 0 0 5px #ffc600; }
    .competition-section .competition-content .input-arrows .save {
      text-align: center; }
      .competition-section .competition-content .input-arrows .save input {
        background-image: -webkit-linear-gradient(#b4adf4, #dddafa, #b4adf4);
        border-color: #6fb3ff;
        border-width: 2px;
        border-radius: 10px;
        font-family: Georgia;
        font-size: 16px;
        margin: 10px;
        padding: 5px 8px;
        width: auto; }
        .competition-section .competition-content .input-arrows .save input:focus {
          border-color: #ffc600;
          box-shadow: 0 0 5px #ffc600; }
    .competition-section .competition-content .leaderboard .board {
      display: none; }
      .competition-section .competition-content .leaderboard .board.selected {
        display: block; }
      .competition-section .competition-content .leaderboard .board table {
        width: 100%; }
    .competition-section .competition-content .olympic .board {
      display: none; }
      .competition-section .competition-content .olympic .board.selected {
        display: block; }
      .competition-section .competition-content .olympic .board table {
        width: 100%; }
      .competition-section .competition-content .olympic .board .remove-all {
        color: red;
        float: right;
        font-size: 12px;
        margin: 5px; }

.select-widget .select {
  display: none; }
.select-widget .options-wrapper {
  position: relative; }
  .select-widget .options-wrapper .options {
    position: absolute;
    display: none; }

.buttons-widget {
  padding: 5px;
  text-align: center; }
  .buttons-widget .select {
    display: none; }
  .buttons-widget .button {
    display: inline-block;
    margin: 0 2px; }

.leaderboard-big-screen .wrapper {
  width: 1800px; }
  .leaderboard-big-screen .wrapper h1 {
    font-size: 70px; }
  .leaderboard-big-screen .wrapper h2 {
    margin-top: 0;
    font-size: 50px; }
  .leaderboard-big-screen .wrapper .module {
    float: left;
    margin: 10px;
    width: 850px; }
    .leaderboard-big-screen .wrapper .module td {
      font-size: 30px;
      padding: 5px 15px; }
