{% extends 'olympic_index.html' %}

{% block olympic_content %}
<h3>Set up field plan</h3>

<p>
{% for round, category, entry_count in numbers %}
    {{ round.round.shot_round.distance }}m {{ category.name }} - {{ entry_count }} archer(s)
    <br />
{% endfor %}
</p>

<div class="field-plan">
    <table class="table field-plan">
        {% for row in field_plan %}
        <tr>
            {% for detail in row %}
                {% if detail %}
                    {% if not detail.category %}
                        <th>{{ detail }}</th>
                    {% elif detail.width %}
                        <td colspan="{{ detail.width }}" class="centered">
                            {{ detail.category.code }}<br>
                            {{ detail.level }}
                        </td>
                    {% endif %}
                {% else %}
                    <td class="empty"></td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>

<form class="form" method="POST" action="{{ request.get_full_path }}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn">
</form>
{% endblock %}
