{% extends 'olympic_index.html' %}

{% block olympic_content %}
<h3>Set up field plan</h3>

<p>
{% for round, category, entry_count in numbers %}
    {{ round.round.shot_round.distance }}m {{ category.name }} - {{ entry_count }} archer(s)
    <br />
{% endfor %}
</p>

<dvi class="field-plan">
    <table class="table field-plan">
        <tr>
            <td class="empty"></td>
            {% for target in targets %}
            <th>{{ target }}</th>
            {% endfor %}
        </tr>
        {% for timing in matches_by_spans %}
        <tr>
            <th>{{ timing.name }}</th>
            {% for match in timing.targets %}
            {% if match.span %}
                <td colspan="{{ match.span }}" class="centered">
                    {{ match.category_short }}<br />
                    {{ match.round }}
                </td>
            {% elif not match.match %}
                <td class="empty"></td>
            {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>

<form class="form" method="POST" action="{{ request.get_full_path }}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn">
</form>
{% endblock %}
