[[source]]

verify_ssl = true
url = "https://pypi.python.org/simple"
name = "pypi"


[packages]

dj-database-url = "*"
dj-static = "*"
django = "*"
django-braces = "*"
django-debug-toolbar = "*"
django-custom-user = "*"
django-floppyforms = {git = "https://github.com/rtpg/django-floppyforms", editable = true, ref = "e118e79c77664ea08ae72f59ea02412da7d9b3a8"}
django-sslify = {git = "https://github.com/rdegges/django-sslify", editable = true, ref = "2ee081b009b7f540edaa88584c78f3aa1ff5da65"}
factory-boy = "*"
gunicorn = "*"
pillow = "*"
"psycopg2" = "*"
reportlab = "*"
"flake8" = "*"
raven = "*"


[dev-packages]



[requires]

python_version = "3.6"
