[[source]]
verify_ssl = true
url = "https://pypi.python.org/simple"
name = "pypi"

[packages]
dj-database-url = "*"
dj-static = "*"
django = "*"
django-braces = "*"
django-debug-toolbar = "*"
django-custom-user = "*"
django-floppyforms = "*"
factory-boy = "*"
gunicorn = "*"
pillow = "*"
"psycopg2" = "*"
reportlab = "*"
"flake8" = "*"
raven = "*"
whitenoise = "*"
isort = "*"
django-render-block = "*"
django-qr-code = "*"

[dev-packages]

[requires]
python_version = "3.9"
