dj-database-url==0.4.0
dj-static==0.0.6
Django==1.9.2
django-braces==1.8.1
django-custom-user==0.5
django-debug-toolbar==1.4
django-floppyforms==1.6.1
django-sslify==0.2.7
factory-boy==2.6.1
flake8==2.5.4
gunicorn==19.4.5
mccabe==0.4.0
pep8==1.7.0
Pillow==3.1.1
psycopg2==2.6.1
pyflakes==1.0.0
pystache==0.5.4
reportlab==3.2.0
six==1.10.0
sqlparse==0.1.18
static3==0.6.1
wheel==0.29.0
