Django==1.6.2
Pillow==1.7.8
South==0.8.4
dj-database-url==0.2.1
git+git://github.com/kennethreitz/dj-static.git#egg=dj-static
django-debug-toolbar==1.0.1
factory-boy==1.2.0
gunicorn==18.0
psycopg2==2.5.1
pystache==0.5.3
reportlab==2.6
sqlparse==0.1.11
static==1.0.2
wsgiref==0.1.2
