#login {
  width: 300px;
  padding-top: 15px; }
  #login .error {
    color: #d58100;
    font-size: 12px;
    text-align: center;
    padding: 0 10px; }
  #login table {
    border-spacing: 5px;
    margin: 0 auto 10; }
    #login table input {
      border: 2px solid #dddafa;
        border-radius: 4px;
      font-family: Verdana;
      margin: 0;
      outline: none;
      padding: 5px; }
      #login table input:focus {
        border-color: #6fb3ff; }
  #login .submit {
    text-align: center; }
    #login .submit input[type=submit] {
      border: 2px solid #111d2a;
        border-radius: 10px;
      background-image: -webkit-linear-gradient(#111d2a, #353345, #111d2a);
      color: white;
      cursor: pointer;
      font-size: 18px;
      font-family: Georgia;
      font-weight: bold;
      margin: 0 auto;
      padding: 5px; }
