body {
  background-color: #002147;
  font-family: Georgia; }

h1, h2, h3, h4, h5, h6 {
  background-image: -webkit-linear-gradient(#20364e, #111d2a, #111d2a, #20364e);
  color: white;
  margin: 5px 0px;
  padding: 5px;
  text-align: center; }

a {
  color: #000f1f;
  text-decoration: none; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

li {
  display: block; }

.clear {
  clear: both; }

.hidden {
  display: none; }

.text-right {
  text-align: right; }

.wrapper {
  background-color: #fbeedb;
  border-radius: 15px;
  color: #000f1f;
  margin: 20px auto;
  width: 1000px; }

.navigation {
  background-image: -webkit-linear-gradient(#dddafa, #fbeedb);
  border-radius: 15px 15px 0 0;
  font-weight: bold;
  overflow: hidden;
  padding-bottom: 10px;
  text-align: center;
  width: 100%; }
  .navigation .nav-link {
    background-color: #002147;
    border-radius: 0 0 5px 5px;
    box-shadow: 0px 1px 2px #000f1f;
    color: white;
    display: inline-block;
    padding: 8px 8px 3px 8px;
    position: relative;
    top: -5px;
    -webkit-transition: all 0.15s ease-in-out; }
    .navigation .nav-link:hover {
      box-shadow: 0px 1px 3px #000f1f;
      background-color: #8579fa;
      position: relative;
      top: 0px; }

.footer {
  font-size: 10px;
  padding: 5px 0;
  margin-top: 5px;
  text-align: center; }
  .footer p {
    margin: 0; }

.archer-select {
  margin: 0 20px; }
  .archer-select.selected {
    color: red; }

.arrow-values input[type=text] {
  width: 30px; }
