body {
    background-color: #002147;
    font-family: Georgia;
}
h1, h2, h3, h4, h5, h6 {
    background-image: -webkit-linear-gradient(#fff, #fff, #fff, #c5efe2);
    margin: 0px;
    padding: 2px 5px 10px 5px;
    text-align: center;
}
a {
    color: #111d2b;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
ul {
    list-style-type: none;
}
li {
    display: block;
}
.clear {
    clear: both;
}
.hidden {
    display: none;
}
.text-right {
    text-align: right;
}

.wrapper {
    background-color: #c5efe2;
    border-radius: 10px;
    box-shadow: -2px 2px 2px #796ef0;
    color: #000f1f;
    margin: 20px auto;
    width: 1000px;
}
.navigation {
    background-image: -webkit-linear-gradient(#C9C5F0, #C5EFE2);
    border-radius: 10px 10px 0px 0px;
    font-weight: bold;
    overflow: hidden;
    padding-bottom: 10px;
    text-align: center;
    width: 100%;
}
.navigation .nav-link {
    background-color: #002147;
    border-radius: 0 0 5px 5px;
    box-shadow: 0px 1px 2px #111d2b;
    color: #fff;
    display: inline-block;
    padding: 8px 8px 3px 8px;
    position: relative;
        top: -5px;
    -webkit-transition: all 0.15s ease-in-out;
}
.navigation .nav-link:hover {
    box-shadow: 0px 2px 5px #796ef0;
    text-decoration: underline;
    position: relative;
        top: 0px;
}
.footer {
    font-size: 10px;
    padding: 5px 0;
    margin-top: 5px;
    text-align: center;
}
.footer p {
    margin: 0;
}

.results {
    margin-top: 10px;
}
.results-table {
    background-color: #fff;
    border-collapse: collapse;
    color: inherit;
    margin: 0 auto;
    width: 60%;
}
.results-table .header {
    background-color: #c5efe2;
}
.results-table .header th {
    padding: 0px;
}
.results-table .header h2 {
    border-radius: 10 10 0 0px;
    margin-top: 10px;
}
.results-table td {
    padding: 2px;
}

.archer-select {
    margin: 0 20px;
}
.archer-select.selected {
    color: red;
}

.arrow-values input[type=text] {
    width: 30px;
}
