/* line 4, ../../sass/_layout.sass */
* {
  box-sizing: border-box;
}

/* line 7, ../../sass/_layout.sass */
header {
  margin: 0 auto;
}
/* line 9, ../../sass/_layout.sass */
header h1 {
  border-bottom: 1px solid #CCCCCC;
  padding-bottom: 2px;
}

/* line 13, ../../sass/_layout.sass */
footer {
  font-size: 10px;
  padding: 5px 0;
  margin: 5px auto 0;
  text-align: center;
}
/* line 18, ../../sass/_layout.sass */
footer p {
  margin: 0;
}

/* line 21, ../../sass/_layout.sass */
.container {
  width: 1180px;
  margin: 0 auto;
  padding: 0 10px;
}

/* line 26, ../../sass/_layout.sass */
.row {
  overflow: hidden;
  *zoom: 1;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 10px;
}

/* line 32, ../../sass/_layout.sass */
.col1, .col2, .col3, .col4, .col5, .col6 {
  float: left;
  padding: 0 10px;
}

/* line 36, ../../sass/_layout.sass */
.col6 {
  width: 100%;
}

/* line 39, ../../sass/_layout.sass */
.col5 {
  width: 83.33333%;
}

/* line 42, ../../sass/_layout.sass */
.col4 {
  width: 66.66667%;
}

/* line 45, ../../sass/_layout.sass */
.col3 {
  width: 50%;
}

/* line 48, ../../sass/_layout.sass */
.col2 {
  width: 33.33333%;
}

/* line 51, ../../sass/_layout.sass */
.col1 {
  width: 16.66667%;
}

@media (max-width: 1200px) {
  /* line 55, ../../sass/_layout.sass */
  .container {
    width: 920px;
  }
}
@media (max-width: 950px) {
  /* line 59, ../../sass/_layout.sass */
  .container {
    width: 100%;
  }

  /* line 62, ../../sass/_layout.sass */
  .col1, .col2, .col3, .col4, .col5 {
    width: 100%;
  }
}
/* line 2, ../../sass/_tables.sass */
div.table {
  display: table;
}
/* line 4, ../../sass/_tables.sass */
div.table .table-row {
  display: table-row;
}
/* line 6, ../../sass/_tables.sass */
div.table .table-row span {
  display: table-cell;
}
/* line 9, ../../sass/_tables.sass */
div.table .table-row.header {
  font-weight: bold;
}

/* line 13, ../../sass/_tables.sass */
div.table.full-width {
  width: 100%;
}

/* line 18, ../../sass/_tables.sass */
table.table {
  border-collapse: collapse;
  width: 100%;
}
/* line 22, ../../sass/_tables.sass */
table.table td, table.table th {
  padding: 8px 3px;
}
/* line 24, ../../sass/_tables.sass */
table.table td.centered, table.table th.centered {
  text-align: center;
}
/* line 28, ../../sass/_tables.sass */
table.table thead tr {
  border-bottom: 2px solid #CCCCCC;
}
/* line 31, ../../sass/_tables.sass */
table.table tbody {
  font-size: 14px;
}
/* line 34, ../../sass/_tables.sass */
table.table tbody tr {
  border-bottom: 1px solid #CCCCCC;
}
/* line 37, ../../sass/_tables.sass */
table.table tbody tr.no-border {
  border-bottom: none;
}

/* line 1, ../../sass/_forms.sass */
input,
select {
  padding: 4px 7px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  outline-color: #6FB3FF;
  border: 1px solid #6FB3FF;
  font-size: 16px;
}

@font-face {
  font-family: "Museo";
  src: url("../fonts/Museo500-Regular-webfont.eot");
  src: url("../fonts/Museo500-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Museo500-Regular-webfont.woff") format("woff"), url("../fonts/Museo500-Regular-webfont.ttf") format("truetype"), url("../fonts/Museo500-Regular-webfont.svg#MuseoSlab500-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MuseoSans";
  src: url("../fonts/MuseoSans_500-webfont.eot");
  src: url("../fonts/MuseoSans_500-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans_500-webfont.woff") format("woff"), url("../fonts/MuseoSans_500-webfont.ttf") format("truetype"), url("../fonts/MuseoSans_500-webfont.svg#MuseoSans_Slab500") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MuseoSlab";
  src: url("../fonts/Museo_Slab_500-webfont.eot");
  src: url("../fonts/Museo_Slab_500-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Museo_Slab_500-webfont.woff") format("woff"), url("../fonts/Museo_Slab_500-webfont.ttf") format("truetype"), url("../fonts/Museo_Slab_500-webfont.svg#MuseoSlab500") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MuseoSlab";
  src: url("../fonts/Museo_Slab_500italic-webfont.eot");
  src: url("../fonts/Museo_Slab_500italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Museo_Slab_500italic-webfont.woff") format("woff"), url("../fonts/Museo_Slab_500italic-webfont.ttf") format("truetype"), url("../fonts/Museo_Slab_500italic-webfont.svg#MuseoSlab500Italic") format("svg");
  font-weight: normal;
  font-style: italic;
}
/* line 9, ../../sass/_typography.sass */
body {
  font-family: "Helvetica Neue", "Trebuchet MS", Helvetica, sans-serif;
  margin: 0;
}

/* line 13, ../../sass/_typography.sass */
h1, h2, h3, h4, h5, h6 {
  font-family: "MuseoSlab", serif;
  color: #111D2A;
  margin: 8px 0 10px;
  text-align: center;
}

/* line 19, ../../sass/_typography.sass */
a {
  color: #000F1F;
  text-decoration: none;
}

/* line 23, ../../sass/_typography.sass */
p {
  margin: 5px 0;
  padding: 0;
}

/* line 27, ../../sass/_typography.sass */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 32, ../../sass/_typography.sass */
li {
  display: block;
}

/* line 1, ../../sass/_buttons.sass */
.btn {
  font-family: "Helvetica Neue", "Trebuchet MS", Helvetica, sans-serif;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #DDDAFA;
  border: 1px solid #6FB3FF;
  font-size: 16px;
  padding: 5px 8px;
  cursor: pointer;
  text-align: center;
  -webkit-user-select: none;
  display: inline-block;
}
/* line 13, ../../sass/_buttons.sass */
.btn:hover {
  background-color: #6FB3FF;
}
/* line 16, ../../sass/_buttons.sass */
.btn.btn-small {
  font-size: 12px;
  padding: 2px 4px;
  margin: 0 1px;
}

/* line 1, ../../sass/components/_link_list.sass */
ul.link-list {
  border-top: 1px solid #F0F0F0;
}
/* line 4, ../../sass/components/_link_list.sass */
ul.link-list li {
  border-bottom: 1px solid #F0F0F0;
}
/* line 6, ../../sass/components/_link_list.sass */
ul.link-list li p {
  padding: 10px;
  margin: 0;
}
/* line 10, ../../sass/components/_link_list.sass */
ul.link-list li a {
  padding: 10px;
  display: block;
}
/* line 13, ../../sass/components/_link_list.sass */
ul.link-list li a:hover {
  background: #F0F0F0;
  cursor: pointer;
}
/* line 16, ../../sass/components/_link_list.sass */
ul.link-list li a:before {
  content: ">";
  color: #CCCCCC;
  margin-right: 5px;
}

/* line 1, ../../sass/components/_archer_block.sass */
.archer-block {
  font-size: 13px;
  margin-bottom: 15px;
  border: 1px solid #6FB3FF;
  overflow: hidden;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 8, ../../sass/components/_archer_block.sass */
.archer-block .name {
  font-size: 14px;
  background-color: #6FB3FF;
  padding: 0 10px;
  overflow: auto;
}
/* line 14, ../../sass/components/_archer_block.sass */
.archer-block .actions {
  float: right;
}
/* line 17, ../../sass/components/_archer_block.sass */
.archer-block .bottom {
  padding: 0 10px;
}

/* line 20, ../../sass/components/_archer_block.sass */
.pill {
  font-size: 11px;
  line-height: 2em;
  font-weight: bold;
  background-color: #002147;
  color: #fff;
  padding: 0.2em 0.8em 0.3em;
  white-space: nowrap;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
}
/* line 30, ../../sass/components/_archer_block.sass */
.pill.gent {
  background-color: #A62;
}
/* line 32, ../../sass/components/_archer_block.sass */
.pill.lady {
  background-color: #F57;
}
/* line 35, ../../sass/components/_archer_block.sass */
.pill.recurve {
  background-color: #A21;
}
/* line 37, ../../sass/components/_archer_block.sass */
.pill.compound {
  background-color: #6C4;
  color: #000F1F;
}
/* line 40, ../../sass/components/_archer_block.sass */
.pill.barebow {
  background-color: #6FB3FF;
  color: #000F1F;
}
/* line 43, ../../sass/components/_archer_block.sass */
.pill.longbow {
  background-color: #000F1F;
}

/* line 12, ../../sass/main.sass */
body {
  color: #000F1F;
}

/* line 15, ../../sass/main.sass */
nav {
  background: #F0F0F0;
  border-bottom: 1px solid #F0F0F0;
  overflow: hidden;
  text-align: center;
  width: 100%;
}
/* line 21, ../../sass/main.sass */
nav .nav-link {
  background-color: #002147;
  color: white;
  display: inline-block;
  padding: 8px 8px 8px 8px;
  margin: 0 5px;
}
/* line 27, ../../sass/main.sass */
nav .nav-link:hover {
  background-color: #8579FA;
}

/* line 30, ../../sass/main.sass */
.clear {
  overflow: hidden;
  *zoom: 1;
}

/* line 33, ../../sass/main.sass */
.hidden {
  display: none;
}

/* line 36, ../../sass/main.sass */
.text-right {
  text-align: right;
}

/* line 1, ../../sass/_competition.sass */
.competition-nav {
  overflow: visible;
  background: none;
  margin-top: -10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #CCCCCC;
  font-size: 0.9em;
}
/* line 10, ../../sass/_competition.sass */
.competition-nav ul {
  margin: 0 auto;
  display: inline-block;
}
/* line 15, ../../sass/_competition.sass */
.competition-nav li {
  float: left;
  border-left: 1px solid #CCCCCC;
  line-height: 30px;
  position: relative;
}
/* line 20, ../../sass/_competition.sass */
.competition-nav li:last-child {
  border-right: 1px solid #CCCCCC;
}
/* line 22, ../../sass/_competition.sass */
.competition-nav li:hover {
  background-color: #F0F0F0;
}
/* line 24, ../../sass/_competition.sass */
.competition-nav li a {
  padding: 10px;
}
/* line 26, ../../sass/_competition.sass */
.competition-nav li p {
  margin: 0;
  padding: 0 10px;
  cursor: pointer;
}
/* line 30, ../../sass/_competition.sass */
.competition-nav li p:after {
  content: "v";
  margin-left: 5px;
  color: #CCCCCC;
}
/* line 35, ../../sass/_competition.sass */
.competition-nav li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: -1px;
  width: 100%;
  float: left;
  background-color: white;
  border: 1px solid #CCCCCC;
  box-sizing: content-box;
}
/* line 45, ../../sass/_competition.sass */
.competition-nav li ul li {
  display: block;
  float: none;
  border: 0;
}
/* line 49, ../../sass/_competition.sass */
.competition-nav li ul li:last-child {
  border: 0;
}
/* line 51, ../../sass/_competition.sass */
.competition-nav li ul li a {
  padding: 0;
  width: 100%;
  height: 100%;
  display: block;
}
/* line 57, ../../sass/_competition.sass */
.competition-nav li:hover ul {
  display: block;
}

/* line 63, ../../sass/_competition.sass */
#entry-list .new-entry {
  float: left;
}
/* line 68, ../../sass/_competition.sass */
#entry-list .new-entry .new-entry-form {
  padding: 5px;
}
/* line 71, ../../sass/_competition.sass */
#entry-list .new-entry .new-entry-form input {
  border: 2px solid #DDDAFA;
  border-radius: 4px;
  font-family: Verdana;
  font-size: 18px;
  margin: 0;
  outline: none;
  padding: 5px;
  width: 300px;
}
/* line 81, ../../sass/_competition.sass */
#entry-list .new-entry .new-entry-form input:focus {
  border-color: #6FB3FF;
}
/* line 83, ../../sass/_competition.sass */
#entry-list .new-entry .new-entry-form input::webkit-input-placeholder {
  font-style: italic;
}
/* line 89, ../../sass/_competition.sass */
#entry-list .new-entry .new-entry-form .options-wrapper .options {
  margin: 0 0px;
  width: 300px;
}
/* line 93, ../../sass/_competition.sass */
#entry-list .new-entry .new-entry-form .options-wrapper .options .option {
  background-color: white;
  border-left: 2px solid #DDDAFA;
  border-right: 2px solid #DDDAFA;
  border-bottom: 1px solid #DDDAFA;
  font-family: Verdana;
  padding: 3px 5px;
}
/* line 102, ../../sass/_competition.sass */
#entry-list .new-entry .new-entry-form .options-wrapper .options .option:last-child {
  border-bottom-width: 2px;
}
/* line 104, ../../sass/_competition.sass */
#entry-list .new-entry .new-entry-form .options-wrapper .options .option.selected {
  background-color: #353345;
  color: white;
}
/* line 108, ../../sass/_competition.sass */
#entry-list .new-entry .new-entry-form #archer-widget {
  margin: 0 auto 10px;
  width: 300px;
}
/* line 112, ../../sass/_competition.sass */
#entry-list .new-entry .new-entry-form .archer-details {
  visibility: hidden;
  opacity: 0;
  width: 450px;
  -webkit-transition: all 0.2s ease-in-out;
}
/* line 117, ../../sass/_competition.sass */
#entry-list .new-entry .new-entry-form .archer-details.shown {
  visibility: visible;
  opacity: 1;
}
/* line 121, ../../sass/_competition.sass */
#entry-list .new-entry .new-entry-form .archer-details p {
  margin: 0;
  text-align: center;
}
/* line 125, ../../sass/_competition.sass */
#entry-list .new-entry .new-entry-form .archer-details .button {
  border: 2px solid #6FB3FF;
  border-radius: 10px;
  background-image: -webkit-linear-gradient(#b4adf4, #DDDAFA, #b4adf4);
  cursor: pointer;
  padding: 5px;
  text-align: center;
  -webkit-user-select: none;
}
/* line 133, ../../sass/_competition.sass */
#entry-list .new-entry .new-entry-form .archer-details .button.selected {
  background-image: -webkit-linear-gradient(#111D2A, #353345, #111D2A);
  border-color: #111D2A;
  color: white;
}
/* line 138, ../../sass/_competition.sass */
#entry-list .new-entry .new-entry-form .archer-details #club-widget {
  margin: 0 auto;
  width: 300px;
}
/* line 142, ../../sass/_competition.sass */
#entry-list .new-entry .new-entry-form .archer-details .save {
  background-image: -webkit-linear-gradient(#111D2A, #353345, #111D2A);
  border-color: #111D2A;
  color: white;
  float: right;
}
/* line 148, ../../sass/_competition.sass */
#entry-list .new-entry .new-entry-form .archer-details .show-more-details {
  float: left;
  cursor: pointer;
}
/* line 151, ../../sass/_competition.sass */
#entry-list .new-entry .new-entry-form .archer-details .show-more-details .pointer {
  display: inline-block;
  font-size: 20px;
  line-height: 12px;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
}
/* line 157, ../../sass/_competition.sass */
#entry-list .new-entry .new-entry-form .archer-details .show-more-details.selected .pointer {
  -webkit-transform: rotate(90deg);
}
/* line 161, ../../sass/_competition.sass */
#entry-list .new-entry .new-entry-form .archer-details .more-details {
  display: none;
  padding: 10px 0;
  text-align: center;
}
/* line 165, ../../sass/_competition.sass */
#entry-list .new-entry .new-entry-form .archer-details .more-details.shown {
  display: block;
}
/* line 169, ../../sass/_competition.sass */
#entry-list .stats {
  float: right;
}
/* line 172, ../../sass/_competition.sass */
#entry-list .stats ul {
  margin: 0 10px 10px 10px;
}
/* line 177, ../../sass/_competition.sass */
#entry-list .entries-table table {
  border-collapse: collapse;
  width: 100%;
}
/* line 181, ../../sass/_competition.sass */
#entry-list .entries-table table td:last-child.delete {
  cursor: pointer;
}
/* line 184, ../../sass/_competition.sass */
#entry-list .entries-table table tr:hover td:last-child.delete {
  background-color: #070052;
  color: white;
}
/* line 188, ../../sass/_competition.sass */
#entry-list .entries-table table td {
  padding: 3px;
}
/* line 191, ../../sass/_competition.sass */
#entry-list .entries-table table .top td {
  border-top: 1px solid #111D2A;
}
/* line 194, ../../sass/_competition.sass */
#entry-list .entries-table table .bottom td {
  font-size: 14px;
}
/* line 197, ../../sass/_competition.sass */
#entry-list .entries-table table .tall {
  border-left: 1px solid #111D2A;
  text-align: center;
}

/* line 205, ../../sass/_competition.sass */
.target-list-nav .session-select {
  width: 100%;
}
/* line 207, ../../sass/_competition.sass */
.target-list-nav .round-select {
  display: none;
  width: 100%;
}
/* line 209, ../../sass/_competition.sass */
.target-list-nav .round-select.selected {
  display: block;
}
/* line 212, ../../sass/_competition.sass */
.target-list-nav .link {
  background-color: #DDDAFA;
  float: left;
  font-weight: bold;
  text-align: center;
}
/* line 217, ../../sass/_competition.sass */
.target-list-nav .selected {
  background-color: #6FB3FF;
}

/* line 221, ../../sass/_competition.sass */
.target-list .target-list-gen {
  display: none;
  width: 100%;
}
/* line 223, ../../sass/_competition.sass */
.target-list .target-list-gen.selected {
  display: block;
}
/* line 227, ../../sass/_competition.sass */
.target-list .target-list-gen .archer {
  background-color: #DDDAFA;
  padding: 2px;
  border-bottom: 1px solid #111D2A;
  -webkit-user-select: none;
}
/* line 232, ../../sass/_competition.sass */
.target-list .target-list-gen .archer:not(.blank) {
  cursor: pointer;
  -webkit-user-drag: element;
}
/* line 235, ../../sass/_competition.sass */
.target-list .target-list-gen .archer:-webkit-drag {
  border: 1px solid #111D2A;
  opacity: 0.5;
}
/* line 238, ../../sass/_competition.sass */
.target-list .target-list-gen .archer:-webkit-drag p:not(.name) {
  display: none;
}
/* line 240, ../../sass/_competition.sass */
.target-list .target-list-gen .archer.blank {
  background-color: #F0F0F0;
}
/* line 243, ../../sass/_competition.sass */
.target-list .target-list-gen .board-wrapper {
  float: left;
  width: 70%;
}
/* line 247, ../../sass/_competition.sass */
.target-list .target-list-gen .board-wrapper .board {
  margin: 8px 0 8px 8px;
}
/* line 250, ../../sass/_competition.sass */
.target-list .target-list-gen .board-wrapper .board .target {
  width: 100%;
}
/* line 253, ../../sass/_competition.sass */
.target-list .target-list-gen .board-wrapper .board .target div {
  float: left;
}
/* line 255, ../../sass/_competition.sass */
.target-list .target-list-gen .board-wrapper .board .target div.number {
  text-align: center;
  width: 8%;
}
/* line 258, ../../sass/_competition.sass */
.target-list .target-list-gen .board-wrapper .board .target div.number p {
  border: 1px solid #111D2A;
  margin: 0;
  padding: 2px 0;
}
/* line 262, ../../sass/_competition.sass */
.target-list .target-list-gen .board-wrapper .board .target div.detail {
  width: 92%;
}
/* line 265, ../../sass/_competition.sass */
.target-list .target-list-gen .board-wrapper .board .target div.detail.drag-over .archer {
  background-color: #6FB3FF;
}
/* line 267, ../../sass/_competition.sass */
.target-list .target-list-gen .board-wrapper .board .target div.detail .archer {
  border: 1px solid #111D2A;
  padding: 2px 0 2px 0;
  width: 100%;
}
/* line 271, ../../sass/_competition.sass */
.target-list .target-list-gen .board-wrapper .board .target div.detail .archer p {
  margin: 0;
  padding-left: 5px;
  float: left;
}
/* line 275, ../../sass/_competition.sass */
.target-list .target-list-gen .board-wrapper .board .target div.detail .archer p.club {
  float: right;
  padding-right: 5px;
}
/* line 279, ../../sass/_competition.sass */
.target-list .target-list-gen .entries-wrapper {
  float: right;
  width: 30%;
}
/* line 283, ../../sass/_competition.sass */
.target-list .target-list-gen .entries-wrapper .entries {
  border: 1px solid #111D2A;
  border-bottom: none;
  margin: 8px;
}
/* line 288, ../../sass/_competition.sass */
.target-list .target-list-gen .entries-wrapper .entries h5 {
  margin: 0;
}
/* line 292, ../../sass/_competition.sass */
.target-list .target-list-gen .entries-wrapper .entries .archer p {
  margin: 0;
  float: right;
}
/* line 295, ../../sass/_competition.sass */
.target-list .target-list-gen .entries-wrapper .entries .archer p.name {
  float: left;
}
/* line 297, ../../sass/_competition.sass */
.target-list .target-list-gen .entries-wrapper .entries .archer p.club {
  display: none;
}

/* line 301, ../../sass/_competition.sass */
.registration .registration-board {
  display: block;
}
/* line 304, ../../sass/_competition.sass */
.registration .registration-board .actions {
  margin: 10px 0;
}
/* line 307, ../../sass/_competition.sass */
.registration .registration-board tr.present {
  background-color: #F0F0F0;
}
/* line 310, ../../sass/_competition.sass */
.registration .registration-board tr.present a.present {
  display: none;
}
/* line 313, ../../sass/_competition.sass */
.registration .registration-board tr:not(.present) a.not-present {
  display: none;
}
/* line 316, ../../sass/_competition.sass */
.registration .registration-board .archer-details {
  opacity: 0.5;
  font-style: italic;
}

/* line 321, ../../sass/_competition.sass */
.input-scores .input-board {
  display: block;
  padding-bottom: 10px;
  border-bottom: 2px solid #CCCCCC;
}
/* line 326, ../../sass/_competition.sass */
.input-scores .input-board .bosses {
  overflow: auto;
}
/* line 330, ../../sass/_competition.sass */
.input-scores .input-board .boss {
  background-color: #DDDAFA;
  border: 1px solid #6FB3FF;
  float: left;
  height: 30px;
  margin: 5px;
  padding: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  width: 30px;
}
/* line 340, ../../sass/_competition.sass */
.input-scores .input-board .boss.done {
  background-color: #353345;
  border-color: #111D2A;
  color: white;
}
/* line 344, ../../sass/_competition.sass */
.input-scores .input-board .boss-link:focus {
  outline: none;
}
/* line 346, ../../sass/_competition.sass */
.input-scores .input-board .boss-link:focus .boss {
  border-color: #6FB3FF;
  box-shadow: 0 0 5px #6FB3FF;
}

/* line 351, ../../sass/_competition.sass */
.input-arrows table {
  margin: 0 auto;
}
/* line 353, ../../sass/_competition.sass */
.input-arrows table tbody {
  font-size: 16px;
}
/* line 356, ../../sass/_competition.sass */
.input-arrows table tr.disabled,
.input-arrows table tr.disabled input {
  color: #ccc;
}
/* line 360, ../../sass/_competition.sass */
.input-arrows table input {
  border: 1px solid #6FB3FF;
  border-radius: 3px;
  outline: none;
  text-align: center;
  width: 35px;
  font-size: 16px;
  padding: 5px;
}
/* line 368, ../../sass/_competition.sass */
.input-arrows table input:focus {
  box-shadow: 0 0 5px #FFC600;
}
/* line 371, ../../sass/_competition.sass */
.input-arrows .save {
  text-align: center;
}

/* line 375, ../../sass/_competition.sass */
.input-dozens input[type="number"] {
  width: 75px;
}

/* line 379, ../../sass/_competition.sass */
.leaderboard .board {
  display: none;
}
/* line 381, ../../sass/_competition.sass */
.leaderboard .board.selected {
  display: block;
}
/* line 384, ../../sass/_competition.sass */
.leaderboard .board table {
  width: 100%;
}

/* line 388, ../../sass/_competition.sass */
.olympic .board {
  display: none;
}
/* line 390, ../../sass/_competition.sass */
.olympic .board.selected {
  display: block;
}
/* line 393, ../../sass/_competition.sass */
.olympic .board table {
  width: 100%;
}
/* line 396, ../../sass/_competition.sass */
.olympic .board .remove-all {
  color: red;
  float: right;
  font-size: 12px;
  margin: 5px;
}
/* line 402, ../../sass/_competition.sass */
.olympic .btn.complete {
  background-image: -webkit-linear-gradient(#03001f, #070052, #03001f);
  color: white;
}

/* line 407, ../../sass/_competition.sass */
.mobile nav a {
  display: none;
}
/* line 410, ../../sass/_competition.sass */
.mobile h1 {
  font-size: 40px;
}
/* line 413, ../../sass/_competition.sass */
.mobile h4 {
  font-size: 30px;
  margin: 0 0 20px;
}
/* line 417, ../../sass/_competition.sass */
.mobile h5 {
  font-size: 20px;
}
/* line 420, ../../sass/_competition.sass */
.mobile .competition-nav {
  display: none;
}
/* line 423, ../../sass/_competition.sass */
.mobile .target-list-nav {
  display: none;
}
/* line 426, ../../sass/_competition.sass */
.mobile .competition-section {
  margin: 15px 0;
}
/* line 430, ../../sass/_competition.sass */
.mobile .input-scores .input-board .boss {
  height: 71px;
  width: 71px;
  font-size: 55px;
}
/* line 436, ../../sass/_competition.sass */
.mobile table {
  font-size: 16px;
  border-spacing: 4px;
}
/* line 440, ../../sass/_competition.sass */
.mobile td.field {
  width: 36px;
  height: 36px;
  border: 1px solid #6FB3FF;
  text-align: center;
}
/* line 445, ../../sass/_competition.sass */
.mobile td.field input {
  height: 1px;
  width: 1px;
  border-width: 0;
}
/* line 449, ../../sass/_competition.sass */
.mobile td.field.active {
  background-color: #6FB3FF;
}
/* line 451, ../../sass/_competition.sass */
.mobile td.field.active input {
  background-color: #6FB3FF;
}
/* line 454, ../../sass/_competition.sass */
.mobile input {
  outline: none;
  font-size: 24px;
  width: 42px;
}
/* line 458, ../../sass/_competition.sass */
.mobile input[type=submit] {
  width: 100px;
}
/* line 461, ../../sass/_competition.sass */
.mobile .input-buttons {
  margin: 0 auto;
  width: 480px;
  text-align: center;
}
/* line 465, ../../sass/_competition.sass */
.mobile .input-buttons .input {
  border: 1px solid #6FB3FF;
  border-radius: 10px;
  background-color: #DDDAFA;
  display: inline-block;
  font-size: 30px;
  line-height: 66px;
  font-weight: bold;
  width: 66px;
  height: 66px;
  margin: 5px;
}
/* line 476, ../../sass/_competition.sass */
.mobile .input-buttons input[type=submit] {
  width: 66px;
  height: 66px;
  margin: 5px;
}

/* line 483, ../../sass/_competition.sass */
.select-widget .select {
  display: none;
}
/* line 485, ../../sass/_competition.sass */
.select-widget .options-wrapper {
  position: relative;
}
/* line 487, ../../sass/_competition.sass */
.select-widget .options-wrapper .options {
  position: absolute;
  display: none;
}

/* line 491, ../../sass/_competition.sass */
.buttons-widget {
  padding: 5px;
  text-align: center;
}
/* line 494, ../../sass/_competition.sass */
.buttons-widget .select {
  display: none;
}
/* line 496, ../../sass/_competition.sass */
.buttons-widget .button {
  display: inline-block;
  margin: 0 2px;
}

/* line 501, ../../sass/_competition.sass */
.leaderboard-big-screen .container {
  width: 1800px;
}
/* line 503, ../../sass/_competition.sass */
.leaderboard-big-screen .container .col2 {
  padding: 0 25px;
}
/* line 505, ../../sass/_competition.sass */
.leaderboard-big-screen .container h1 {
  font-size: 50px;
}
/* line 507, ../../sass/_competition.sass */
.leaderboard-big-screen .container h2 {
  margin-top: 0;
  font-size: 36px;
  overflow: hidden;
}
/* line 511, ../../sass/_competition.sass */
.leaderboard-big-screen .container h3 {
  margin-top: 0;
  font-size: 36px;
}
/* line 514, ../../sass/_competition.sass */
.leaderboard-big-screen .container h4 {
  font-size: 30px;
}
/* line 516, ../../sass/_competition.sass */
.leaderboard-big-screen .container table {
  border-top: 1px solid #CCCCCC;
}
/* line 518, ../../sass/_competition.sass */
.leaderboard-big-screen .container td {
  font-size: 20px;
}

/* line 526, ../../sass/_competition.sass */
.leaderboard-butc .wrapper {
  width: 1020px;
  height: 756px;
}
/* line 530, ../../sass/_competition.sass */
.leaderboard-butc .wrapper nav {
  display: none;
}
/* line 533, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #update {
  font-size: 10px;
  margin: 10px;
  float: right;
}
/* line 538, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard {
  position: relative;
  height: 672px;
}
/* line 542, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club {
  margin: 5px;
  padding: 15px;
  border-radius: 10px;
  background-color: #111D2A;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 551, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club, .leaderboard-butc .wrapper #leaderboard .club [data-club], .leaderboard-butc .wrapper #leaderboard .club .title, .leaderboard-butc .wrapper #leaderboard .club .position, .leaderboard-butc .wrapper #leaderboard .club .score, .leaderboard-butc .wrapper #leaderboard .club ul {
  -webkit-transition: all 2s ease-in-out;
}
/* line 554, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club [data-club] {
  position: relative;
  width: 327.2px;
  height: 128px;
}
/* line 559, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club .title {
  color: #F0F0F0;
  font-size: 33.6px;
  font-weight: bold;
  display: block;
}
/* line 565, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club .position, .leaderboard-butc .wrapper #leaderboard .club .score {
  font-size: 84px;
  position: absolute;
  bottom: 14px;
}
/* line 570, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club .position {
  color: #FFC600;
  left: 0;
}
/* line 574, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club .score {
  color: #D58100;
  right: 0;
}
/* line 578, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club ul {
  width: 327.2px;
  text-align: center;
  color: #DDDAFA;
  font-size: 16.8px;
  position: absolute;
  bottom: -5.6px;
  height: 20.8px;
  overflow: hidden;
}
/* line 587, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club ul li {
  display: inline;
}
/* line 591, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-1 {
  -webkit-transform: translate(0, 0px);
}
/* line 591, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-2 {
  -webkit-transform: translate(0, 168px);
}
/* line 591, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-3 {
  -webkit-transform: translate(0, 336px);
}
/* line 591, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-4 {
  -webkit-transform: translate(0, 504px);
}
/* line 595, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-5 {
  -webkit-transform: translate(367.2px, 0px);
  padding: 10px;
}
/* line 599, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-5 [data-club] {
  width: 174px;
  height: 54px;
}
/* line 603, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-5 .title {
  font-size: 16.8px;
}
/* line 606, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-5 .position, .leaderboard-butc .wrapper #leaderboard .club.position-5 .score {
  font-size: 42px;
  bottom: -5px;
}
/* line 610, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-5 ul {
  -webkit-transform: scale(0);
}
/* line 595, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-6 {
  -webkit-transform: translate(367.2px, 84px);
  padding: 10px;
}
/* line 599, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-6 [data-club] {
  width: 174px;
  height: 54px;
}
/* line 603, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-6 .title {
  font-size: 16.8px;
}
/* line 606, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-6 .position, .leaderboard-butc .wrapper #leaderboard .club.position-6 .score {
  font-size: 42px;
  bottom: -5px;
}
/* line 610, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-6 ul {
  -webkit-transform: scale(0);
}
/* line 595, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-7 {
  -webkit-transform: translate(367.2px, 168px);
  padding: 10px;
}
/* line 599, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-7 [data-club] {
  width: 174px;
  height: 54px;
}
/* line 603, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-7 .title {
  font-size: 16.8px;
}
/* line 606, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-7 .position, .leaderboard-butc .wrapper #leaderboard .club.position-7 .score {
  font-size: 42px;
  bottom: -5px;
}
/* line 610, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-7 ul {
  -webkit-transform: scale(0);
}
/* line 595, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-8 {
  -webkit-transform: translate(367.2px, 252px);
  padding: 10px;
}
/* line 599, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-8 [data-club] {
  width: 174px;
  height: 54px;
}
/* line 603, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-8 .title {
  font-size: 16.8px;
}
/* line 606, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-8 .position, .leaderboard-butc .wrapper #leaderboard .club.position-8 .score {
  font-size: 42px;
  bottom: -5px;
}
/* line 610, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-8 ul {
  -webkit-transform: scale(0);
}
/* line 595, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-9 {
  -webkit-transform: translate(367.2px, 336px);
  padding: 10px;
}
/* line 599, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-9 [data-club] {
  width: 174px;
  height: 54px;
}
/* line 603, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-9 .title {
  font-size: 16.8px;
}
/* line 606, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-9 .position, .leaderboard-butc .wrapper #leaderboard .club.position-9 .score {
  font-size: 42px;
  bottom: -5px;
}
/* line 610, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-9 ul {
  -webkit-transform: scale(0);
}
/* line 595, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-10 {
  -webkit-transform: translate(367.2px, 420px);
  padding: 10px;
}
/* line 599, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-10 [data-club] {
  width: 174px;
  height: 54px;
}
/* line 603, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-10 .title {
  font-size: 16.8px;
}
/* line 606, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-10 .position, .leaderboard-butc .wrapper #leaderboard .club.position-10 .score {
  font-size: 42px;
  bottom: -5px;
}
/* line 610, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-10 ul {
  -webkit-transform: scale(0);
}
/* line 595, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-11 {
  -webkit-transform: translate(367.2px, 504px);
  padding: 10px;
}
/* line 599, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-11 [data-club] {
  width: 174px;
  height: 54px;
}
/* line 603, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-11 .title {
  font-size: 16.8px;
}
/* line 606, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-11 .position, .leaderboard-butc .wrapper #leaderboard .club.position-11 .score {
  font-size: 42px;
  bottom: -5px;
}
/* line 610, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-11 ul {
  -webkit-transform: scale(0);
}
/* line 595, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-12 {
  -webkit-transform: translate(367.2px, 588px);
  padding: 10px;
}
/* line 599, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-12 [data-club] {
  width: 174px;
  height: 54px;
}
/* line 603, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-12 .title {
  font-size: 16.8px;
}
/* line 606, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-12 .position, .leaderboard-butc .wrapper #leaderboard .club.position-12 .score {
  font-size: 42px;
  bottom: -5px;
}
/* line 610, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-12 ul {
  -webkit-transform: scale(0);
}
/* line 595, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-13 {
  -webkit-transform: translate(367.2px, 672px);
  padding: 10px;
}
/* line 599, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-13 [data-club] {
  width: 174px;
  height: 54px;
}
/* line 603, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-13 .title {
  font-size: 16.8px;
}
/* line 606, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-13 .position, .leaderboard-butc .wrapper #leaderboard .club.position-13 .score {
  font-size: 42px;
  bottom: -5px;
}
/* line 610, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-13 ul {
  -webkit-transform: scale(0);
}
/* line 595, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-14 {
  -webkit-transform: translate(367.2px, 756px);
  padding: 10px;
}
/* line 599, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-14 [data-club] {
  width: 174px;
  height: 54px;
}
/* line 603, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-14 .title {
  font-size: 16.8px;
}
/* line 606, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-14 .position, .leaderboard-butc .wrapper #leaderboard .club.position-14 .score {
  font-size: 42px;
  bottom: -5px;
}
/* line 610, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-14 ul {
  -webkit-transform: scale(0);
}
/* line 595, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-15 {
  -webkit-transform: translate(367.2px, 840px);
  padding: 10px;
}
/* line 599, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-15 [data-club] {
  width: 174px;
  height: 54px;
}
/* line 603, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-15 .title {
  font-size: 16.8px;
}
/* line 606, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-15 .position, .leaderboard-butc .wrapper #leaderboard .club.position-15 .score {
  font-size: 42px;
  bottom: -5px;
}
/* line 610, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-15 ul {
  -webkit-transform: scale(0);
}
/* line 595, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-16 {
  -webkit-transform: translate(367.2px, 924px);
  padding: 10px;
}
/* line 599, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-16 [data-club] {
  width: 174px;
  height: 54px;
}
/* line 603, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-16 .title {
  font-size: 16.8px;
}
/* line 606, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-16 .position, .leaderboard-butc .wrapper #leaderboard .club.position-16 .score {
  font-size: 42px;
  bottom: -5px;
}
/* line 610, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-16 ul {
  -webkit-transform: scale(0);
}
/* line 595, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-17 {
  -webkit-transform: translate(367.2px, 1008px);
  padding: 10px;
}
/* line 599, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-17 [data-club] {
  width: 174px;
  height: 54px;
}
/* line 603, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-17 .title {
  font-size: 16.8px;
}
/* line 606, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-17 .position, .leaderboard-butc .wrapper #leaderboard .club.position-17 .score {
  font-size: 42px;
  bottom: -5px;
}
/* line 610, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-17 ul {
  -webkit-transform: scale(0);
}
/* line 595, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-18 {
  -webkit-transform: translate(367.2px, 1092px);
  padding: 10px;
}
/* line 599, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-18 [data-club] {
  width: 174px;
  height: 54px;
}
/* line 603, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-18 .title {
  font-size: 16.8px;
}
/* line 606, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-18 .position, .leaderboard-butc .wrapper #leaderboard .club.position-18 .score {
  font-size: 42px;
  bottom: -5px;
}
/* line 610, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-18 ul {
  -webkit-transform: scale(0);
}
/* line 595, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-19 {
  -webkit-transform: translate(367.2px, 1176px);
  padding: 10px;
}
/* line 599, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-19 [data-club] {
  width: 174px;
  height: 54px;
}
/* line 603, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-19 .title {
  font-size: 16.8px;
}
/* line 606, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-19 .position, .leaderboard-butc .wrapper #leaderboard .club.position-19 .score {
  font-size: 42px;
  bottom: -5px;
}
/* line 610, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-19 ul {
  -webkit-transform: scale(0);
}
/* line 595, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-20 {
  -webkit-transform: translate(367.2px, 1260px);
  padding: 10px;
}
/* line 599, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-20 [data-club] {
  width: 174px;
  height: 54px;
}
/* line 603, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-20 .title {
  font-size: 16.8px;
}
/* line 606, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-20 .position, .leaderboard-butc .wrapper #leaderboard .club.position-20 .score {
  font-size: 42px;
  bottom: -5px;
}
/* line 610, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-20 ul {
  -webkit-transform: scale(0);
}
/* line 614, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-13 {
  -webkit-transform: translate(571.2px, 0px);
}
/* line 614, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-14 {
  -webkit-transform: translate(571.2px, 84px);
}
/* line 614, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-15 {
  -webkit-transform: translate(571.2px, 168px);
}
/* line 614, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-16 {
  -webkit-transform: translate(571.2px, 252px);
}
/* line 614, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-17 {
  -webkit-transform: translate(571.2px, 336px);
}
/* line 614, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-18 {
  -webkit-transform: translate(571.2px, 420px);
}
/* line 614, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-19 {
  -webkit-transform: translate(571.2px, 504px);
}
/* line 614, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-20 {
  -webkit-transform: translate(571.2px, 588px);
}
/* line 618, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-21 {
  -webkit-transform: translate(775.2px, 0px);
  padding: 10px;
}
/* line 622, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-21 [data-club] {
  width: 214.8px;
  height: 26px;
}
/* line 626, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-21 .title {
  font-size: 16.8px;
  padding-top: 3px;
  margin-left: 40px;
}
/* line 631, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-21 .position, .leaderboard-butc .wrapper #leaderboard .club.position-21 .score {
  font-size: 28px;
  bottom: 0;
}
/* line 635, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-21 ul {
  -webkit-transform: scale(0);
}
/* line 618, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-22 {
  -webkit-transform: translate(775.2px, 56px);
  padding: 10px;
}
/* line 622, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-22 [data-club] {
  width: 214.8px;
  height: 26px;
}
/* line 626, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-22 .title {
  font-size: 16.8px;
  padding-top: 3px;
  margin-left: 40px;
}
/* line 631, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-22 .position, .leaderboard-butc .wrapper #leaderboard .club.position-22 .score {
  font-size: 28px;
  bottom: 0;
}
/* line 635, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-22 ul {
  -webkit-transform: scale(0);
}
/* line 618, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-23 {
  -webkit-transform: translate(775.2px, 112px);
  padding: 10px;
}
/* line 622, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-23 [data-club] {
  width: 214.8px;
  height: 26px;
}
/* line 626, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-23 .title {
  font-size: 16.8px;
  padding-top: 3px;
  margin-left: 40px;
}
/* line 631, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-23 .position, .leaderboard-butc .wrapper #leaderboard .club.position-23 .score {
  font-size: 28px;
  bottom: 0;
}
/* line 635, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-23 ul {
  -webkit-transform: scale(0);
}
/* line 618, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-24 {
  -webkit-transform: translate(775.2px, 168px);
  padding: 10px;
}
/* line 622, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-24 [data-club] {
  width: 214.8px;
  height: 26px;
}
/* line 626, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-24 .title {
  font-size: 16.8px;
  padding-top: 3px;
  margin-left: 40px;
}
/* line 631, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-24 .position, .leaderboard-butc .wrapper #leaderboard .club.position-24 .score {
  font-size: 28px;
  bottom: 0;
}
/* line 635, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-24 ul {
  -webkit-transform: scale(0);
}
/* line 618, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-25 {
  -webkit-transform: translate(775.2px, 224px);
  padding: 10px;
}
/* line 622, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-25 [data-club] {
  width: 214.8px;
  height: 26px;
}
/* line 626, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-25 .title {
  font-size: 16.8px;
  padding-top: 3px;
  margin-left: 40px;
}
/* line 631, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-25 .position, .leaderboard-butc .wrapper #leaderboard .club.position-25 .score {
  font-size: 28px;
  bottom: 0;
}
/* line 635, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-25 ul {
  -webkit-transform: scale(0);
}
/* line 618, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-26 {
  -webkit-transform: translate(775.2px, 280px);
  padding: 10px;
}
/* line 622, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-26 [data-club] {
  width: 214.8px;
  height: 26px;
}
/* line 626, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-26 .title {
  font-size: 16.8px;
  padding-top: 3px;
  margin-left: 40px;
}
/* line 631, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-26 .position, .leaderboard-butc .wrapper #leaderboard .club.position-26 .score {
  font-size: 28px;
  bottom: 0;
}
/* line 635, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-26 ul {
  -webkit-transform: scale(0);
}
/* line 618, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-27 {
  -webkit-transform: translate(775.2px, 336px);
  padding: 10px;
}
/* line 622, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-27 [data-club] {
  width: 214.8px;
  height: 26px;
}
/* line 626, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-27 .title {
  font-size: 16.8px;
  padding-top: 3px;
  margin-left: 40px;
}
/* line 631, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-27 .position, .leaderboard-butc .wrapper #leaderboard .club.position-27 .score {
  font-size: 28px;
  bottom: 0;
}
/* line 635, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-27 ul {
  -webkit-transform: scale(0);
}
/* line 618, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-28 {
  -webkit-transform: translate(775.2px, 392px);
  padding: 10px;
}
/* line 622, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-28 [data-club] {
  width: 214.8px;
  height: 26px;
}
/* line 626, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-28 .title {
  font-size: 16.8px;
  padding-top: 3px;
  margin-left: 40px;
}
/* line 631, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-28 .position, .leaderboard-butc .wrapper #leaderboard .club.position-28 .score {
  font-size: 28px;
  bottom: 0;
}
/* line 635, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-28 ul {
  -webkit-transform: scale(0);
}
/* line 618, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-29 {
  -webkit-transform: translate(775.2px, 448px);
  padding: 10px;
}
/* line 622, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-29 [data-club] {
  width: 214.8px;
  height: 26px;
}
/* line 626, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-29 .title {
  font-size: 16.8px;
  padding-top: 3px;
  margin-left: 40px;
}
/* line 631, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-29 .position, .leaderboard-butc .wrapper #leaderboard .club.position-29 .score {
  font-size: 28px;
  bottom: 0;
}
/* line 635, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-29 ul {
  -webkit-transform: scale(0);
}
/* line 618, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-30 {
  -webkit-transform: translate(775.2px, 504px);
  padding: 10px;
}
/* line 622, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-30 [data-club] {
  width: 214.8px;
  height: 26px;
}
/* line 626, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-30 .title {
  font-size: 16.8px;
  padding-top: 3px;
  margin-left: 40px;
}
/* line 631, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-30 .position, .leaderboard-butc .wrapper #leaderboard .club.position-30 .score {
  font-size: 28px;
  bottom: 0;
}
/* line 635, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-30 ul {
  -webkit-transform: scale(0);
}
/* line 618, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-31 {
  -webkit-transform: translate(775.2px, 560px);
  padding: 10px;
}
/* line 622, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-31 [data-club] {
  width: 214.8px;
  height: 26px;
}
/* line 626, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-31 .title {
  font-size: 16.8px;
  padding-top: 3px;
  margin-left: 40px;
}
/* line 631, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-31 .position, .leaderboard-butc .wrapper #leaderboard .club.position-31 .score {
  font-size: 28px;
  bottom: 0;
}
/* line 635, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-31 ul {
  -webkit-transform: scale(0);
}
/* line 618, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-32 {
  -webkit-transform: translate(775.2px, 616px);
  padding: 10px;
}
/* line 622, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-32 [data-club] {
  width: 214.8px;
  height: 26px;
}
/* line 626, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-32 .title {
  font-size: 16.8px;
  padding-top: 3px;
  margin-left: 40px;
}
/* line 631, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-32 .position, .leaderboard-butc .wrapper #leaderboard .club.position-32 .score {
  font-size: 28px;
  bottom: 0;
}
/* line 635, ../../sass/_competition.sass */
.leaderboard-butc .wrapper #leaderboard .club.position-32 ul {
  -webkit-transform: scale(0);
}

/* line 2, ../../sass/_target_list.sass */
.target-list span.unallocated {
  margin-left: 10px;
  color: #D58100;
  font-weight: bold;
  cursor: help;
}
/* line 8, ../../sass/_target_list.sass */
.target-list .detail {
  font-weight: bold;
}
/* line 11, ../../sass/_target_list.sass */
.target-list .boss {
  margin: 10px 0;
  border-bottom: 1px solid #6FB3FF;
}
/* line 15, ../../sass/_target_list.sass */
.target-list .boss .archer-block {
  margin-bottom: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border-bottom: 0;
}
/* line 22, ../../sass/_target_list.sass */
.target-list .archer-block .name {
  height: 28px;
}
/* line 25, ../../sass/_target_list.sass */
.target-list .archer-block .bottom {
  height: 52px;
  overflow: auto;
}
/* line 29, ../../sass/_target_list.sass */
.target-list .archer-block input {
  margin-top: -4px;
  outline: none;
}
/* line 33, ../../sass/_target_list.sass */
.target-list .select {
  cursor: pointer;
}

/* line 1, ../../sass/_olympic.sass */
table.field-plan {
  margin: 15px 0;
}
/* line 4, ../../sass/_olympic.sass */
table.field-plan tbody {
  font-size: 10px;
}
/* line 7, ../../sass/_olympic.sass */
table.field-plan td, table.field-plan th {
  padding: 5px 1px;
  border: 1px solid #CCCCCC;
}
/* line 10, ../../sass/_olympic.sass */
table.field-plan td.empty, table.field-plan th.empty {
  background-color: #CCCCCC;
}
