.btn
  font-family: $font-sans-serif
  +border-radius(7px)
  border: 1px solid $lightblue
  background-color: $vlightblue
  font-size: 14px
  padding: 4px 5px
  cursor: pointer
  text-align: center
  -webkit-user-select: none

  &:hover
    background-color: $lightblue

  &.btn-small
    font-size: 12px
    padding: 2px 4px
