@import "compass"
@import "compass/css3/box-shadow"
@import colors.sass
@import layout.sass
@import typography.sass
@import components/link_list.sass
@import components/archer_block.sass

body
  color: $dark

nav
  background: $bg
  border-bottom: 1px solid $bg
  overflow: hidden
  text-align: center
  width: 100%
  .nav-link
    background-color: $oxford
    color: white
    display: inline-block
    padding: 8px 8px 8px 8px
    margin: 0 5px
    &:hover
      background-color: $hlblue

.clear
  @include clearfix

.hidden
  display: none

.text-right
  text-align: right

@import _accounts.sass
@import _competition.sass
@import _target_list.sass
