<div class="row">
    {% for section, categories in results.items %}
    {% for category, scores in categories.items %}
    {% if include_confirmation_form %}
        <form action="." method="POST">
    {% endif %}
    <div class="col3">
        <table class="table">
            {% ifchanged section %}
            <tr><th colspan="100%">{{ section }}</th></tr>
            {% endifchanged %}
            <tr><th colspan="100%">{{ category }}</th></tr>
            {% for score in scores %}
                <tr {% if score.team %}class="no-border"{% endif %}>
                    {% if include_confirmation_form and not section.seedings_confirmed %}
                    <td>
                        <input type="checkbox" checked="checked" name="score-{{ score.target.pk }}" />
                    </td>
                    {% endif %}
                    {% if score.disqualified %}
                    <td></td>
                    {% else %}
                    <td>{% if score.placing %}{{ score.placing }}{% endif %}</td>
                    {% endif %}
                    {% if score.team %}
                        <th>{{ score.club }}</th>
                    {% else %}
                        <td>{{ score.target.session_entry.competition_entry.archer }}</td>
                        <td>{{ score.target.session_entry.competition_entry.team_name }}</td>
                        {% if competition.has_novices %}
                            <td>{% if score.target.session_entry.competition_entry.novice == 'N' %}Novice{% endif %}</td>
                        {% endif %}
                        {% if competition.has_wa_age_groups %}
                            <td>{% if score.target.session_entry.competition_entry.wa_age %}{{ score.target.session_entry.competition_entry.get_wa_age_display }}{% endif %}</td>
                        {% endif %}
                    {% endif %}
                    {% for detail in score.details %}
                        <td>{{ detail }}</td>
                    {% endfor %}
                </tr>
                {% if score.team %}
                    {% for member in score.team %}
                    <tr {% if not forloop.last %}class="no-border"{% endif %}>
                        <td></td>
                        <td>{{ member.target.session_entry.competition_entry.archer }}</td>
                        {% for detail in member.details %}
                            <td>{{ detail }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                {% endif %}
            {% endfor %}
            {% if include_confirmation_form %}
                <tr>
                    <td colspan="7">
                        {% csrf_token %}
                        <input type="hidden" name="form-id" value="confirm-seedings-{{ section.round.pk }}">
                        {% if section.seedings_confirmed %}
                            <input class="btn delete" name="remove-all" type="submit" value="Delete seedings">
                        {% else %}
                            <input class="btn" type="submit" value="Confirm seedings">
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
        </table>
    </div>
    {% if include_confirmation_form %}
        </form>
    {% endif %}
    {% endfor %}
    {% endfor %}
</div>
