<div class="row row--flex">
    {% for section, categories in results.items %}
    {% for category, scores in categories.items %}
    {% if include_confirmation_form %}
        <form class="col3" action="." method="POST">
            <div>
    {% else %}
    <div class="col3">
    {% endif %}
        <table class="table">
            {% ifchanged section %}
            <tr><th colspan="100%">{{ section }}</th></tr>
            {% endifchanged %}
            <tr><th colspan="100%">{{ category }}</th></tr>
            {% for score in scores %}
                <tr class="{% if score.team %}no-border{% endif %} {% if score.missed_cut %}missed-cut{% endif %}">
                    {% if include_confirmation_form and not section.seedings_confirmed %}
                    <td>
                        {% if score.team %}
                            {# TODO add a bit of JS to make this a single checkbox #}
                            {% for member in score.team %}
                                <input type="checkbox" checked="checked" name="score-{{ member.target.pk }}" />
                            {% endfor %}
                        {% else %}
                            <input type="checkbox" {% if not score.missed_cut %}checked="checked"{% endif %} name="score-{{ score.target.pk }}" />
                        {% endif %}
                    </td>
                    {% endif %}
                    {% if score.disqualified %}
                    <td></td>
                    {% else %}
                    <td>{% if score.placing %}{{ score.placing }}{% endif %}</td>
                    {% endif %}
                    {% if score.team %}
                        <th>{{ score.club }}</th>
                    {% else %}
                        <td>{{ score.target.session_entry.competition_entry.archer }}</td>
                        <td>{{ score.target.session_entry.competition_entry.team_name }}</td>
                        {% if competition.has_novices %}
                            <td>{% if score.target.session_entry.competition_entry.novice == 'N' %}Novice{% endif %}</td>
                        {% endif %}
                        {% if not competition.split_categories_on_agb_age %}
                            <td>{% if score.target.session_entry.competition_entry.agb_age %}{{ score.target.session_entry.competition_entry.get_agb_age_display }}{% endif %}</td>
                        {% endif %}
                    {% endif %}
                    {% for detail in score.details %}
                        <td>{{ detail }}</td>
                    {% endfor %}
                    {% if score.score and score.pk %}
                        <td><a href="{% url 'score_sheet' slug=score.target.session_entry.competition_entry.competition.slug score_id=score.pk %}" class="score-sheet-link"></a></td>
                    {% endif %}
                </tr>
                {% if score.team %}
                    {% for member in score.team %}
                    <tr {% if not forloop.last %}class="no-border"{% endif %}>
                        {% if include_confirmation_form and not section.seedings_confirmed %}
                        <td></td>
                        {% endif %}
                        <td></td>
                        <td>{{ member.target.session_entry.competition_entry.archer }}</td>
                        {% for detail in member.details %}
                            <td>{{ detail }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                {% endif %}
            {% endfor %}
            {% if include_confirmation_form %}
                <tr>
                    <td colspan="7">
                        {% csrf_token %}
                        <input type="hidden" name="form-id" value="confirm-seedings-{{ section.round.pk }}">
                        {% if section.seedings_confirmed %}
                            <input class="btn delete" name="remove-all" type="submit" value="Delete seedings">
                        {% else %}
                            <input class="btn" type="submit" value="Confirm seedings">
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
        </table>
    </div>
    {% if include_confirmation_form %}
        </form>
    {% endif %}
    {% endfor %}
    {% endfor %}
</div>
