{% extends 'entries/competition_detail.html' %}


{% block title %}Input Scores{% endblock %}

{% block competition_content %}
<div class="row input-scores">
    <div class="col6">
    <h2>Enter Team Scores</h2>
    {% for team in teams %}
        <h3>{{ team }}</h3>
        <div class="input-board">
            <div class="bosses">
                {% for dozen in dozens %}
                <div class="boss"><a href="{% url 'input_dozens_team' slug=competition.slug dozen=dozen team_id=team.pk %}">{{ dozen }}</a></div>
                {% endfor %}
            </div>
            <div class="clear"></div>
        </div>
    {% endfor %}
{% endblock %}
