{% extends 'target_list.html' %}

{% block moduleclass %}leaderboard{% endblock %}
{% block title %}{{ title }}{% endblock %}

{% block main %}
<div class="board selected">
    <table>
        {% for category, scores in results %}
        <tr>
            <td colspan="100%"><h5>{{ category }}</h5></td>
        </tr>
        {% for score in scores %}
        <tr>
            {% if score.disqualified %}
            <td></td>
            {% else %}
            <td>{{ forloop.counter }}</td>
            {% endif %}
            <td>{{ score.target.session_entry.competition_entry.archer }}</td>
            <td>{{ score.target.session_entry.competition_entry.club}}</td>
            <td>{% if score.target.session_entry.competition_entry.novice == 'N' %}Novice{% endif %}</td>
            {% if score.disqualified %}
            <td>DSQ</td>
            <td></td>
            <td></td>
            <td></td>
            {% else %}
            <td>{{ score.score }}</td>
            <td>{{ score.hits }}</td>
            <td>{{ score.golds }}</td>
            <td>{{ score.xs }}</td>
            {% endif %}
        </tr>
        {% endfor %}
    {% endfor %}
    </table>
</div>
{% endblock %}
