{% extends 'target_list.html' %}

{% block moduleclass %}leaderboard{% endblock %}
{% block title %}{{ title }} - {{ mode }}{% endblock %}

{% block main %}
<p><a href="{% url url_name slug=competition.slug mode=mode.slug format='pdf' %}" class="btn">PDF</a></p>
<p><a href="{% url url_name slug=competition.slug mode=mode.slug format='csv' %}" class="btn">CSV</a></p>
<div class="board selected">
    <table>
        {% for section, categories in results.items %}
        <tr><td colspan="100%"><h4>{{ section }}</h4></td></tr>
        {% for category, scores in categories.items %}
            <tr><td colspan="100%"><h5>{{ category }}</h5></td></tr>
            {% for score in scores %}
                <tr>
                    {% if score.disqualified %}
                    <td></td>
                    {% else %}
                    <td>{{ forloop.counter }}</td>
                    {% endif %}
                    {% if score.team %}
                        <th>{{ score.club }}</th>
                    {% else %}
                        <td>{{ score.target.session_entry.competition_entry.archer }}</td>
                        <td>{{ score.target.session_entry.competition_entry.club}}</td>
                        <td>{% if score.target.session_entry.competition_entry.novice == 'N' %}Novice{% endif %}</td>
                    {% endif %}
                    {% if score.disqualified %}
                    <td>dsq</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    {% else %}
                    <td>{{ score.score }}</td>
                    <td>{{ score.hits }}</td>
                    <td>{{ score.golds }}</td>
                    <td>{{ score.xs }}</td>
                    {% endif %}
                </tr>
                {% if score.team %}
                    {% for member in score.team %}
                    <tr>
                        <td></td>
                        <td>{{ member.target.session_entry.competition_entry.archer }}</td>
                        <td>{{ member.score }}</td>
                        <td>{{ member.hits }}</td>
                        <td>{{ member.golds }}</td>
                        <td>{{ member.xs }}</td>
                    </tr>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endfor %}
        {% endfor %}
    </table>
</div>
{% endblock %}
