{% extends 'entries/competition_detail.html' %}

{% block moduleclass %}leaderboard{% endblock %}
{% block title %}{{ title }} - {{ mode }}{% endblock %}

{% block competition_content %}
<h2>{% if leaderboard %}Leaderboard{% else %}Results{% endif %} - {{ mode }}</h2>
<p>
    <a href="{% url url_name slug=competition.slug mode=mode.slug format='pdf' %}" class="btn">PDF</a>
    <a href="{% url url_name slug=competition.slug mode=mode.slug format='pdf-summary' %}" class="btn">PDF (top 8 only)</a>
    <a href="{% url url_name slug=competition.slug mode=mode.slug format='csv' %}" class="btn">CSV</a>
    <a href="{% url url_name slug=competition.slug mode=mode.slug format='json' %}" class="btn">JSON</a>
    <form method="POST" action=".">
        {% csrf_token %}
        <input type="submit" class="btn" value="Save for external">
    </form>
</p>

{% include 'scores/_leaderboard.html' %}
{% endblock %}
