{% extends 'scores/leaderboard.html' %}

{% block bodyclass %}leaderboard-big-screen{% endblock %}

{% block nav_links %}{% endblock %}
{% block competition_nav %}{% endblock %}

{% block competition_content %}
    {% for section, categories in results.items %}
    <div class="row">
        <h4>{{ section }}</h4>
        {% for category, scores in categories.items %}
        <div class="col2">
        <h4>{{ category }}</h4>
            <table class="table">
            {% for score in scores %}
            {% if forloop.counter < 9 %}
            <tr {% if score.team %}class="no-border"{% endif %}>
                    {% if score.disqualified %}
                    <td></td>
                    {% else %}
                    <td>{% if score.placing %}{{ score.placing }}{% endif %}</td>
                    {% endif %}
                    {% if score.team %}
                        <th>{{ score.club }}</th>
                    {% else %}
                        <td>{{ score.target.session_entry.competition_entry.archer }}</td>
                        <td>{{ score.target.session_entry.competition_entry.club}}</td>
                        <td>{% if score.target.session_entry.competition_entry.novice == 'N' %}Novice{% endif %}</td>
                    {% endif %}
                    {% for detail in score.details %}
                        {% if detail %}
                        <td>{{ detail }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
                {% if score.team %}
                    {% for member in score.team %}
                    <tr {% if not forloop.last %}class="no-border"{% endif %}>
                        <td></td>
                        <td>{{ member.target.session_entry.competition_entry.archer }}</td>
                        <td>{{ member.score }}</td>
                    </tr>
                    {% endfor %}
                {% endif %}
            {% endif %}
            {% endfor %}
        </table>
        </div>
        {% if forloop.counter == 3 or forloop.counter == 6 or forloop.counter == 9 or forloop.counter == 12 %}
        </div><div class="row">
        {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
{% endblock %}
