{% extends 'entries/competition_detail.html' %}

{% load render_bundle from webpack_loader %}

{% block scripts %}
{% render_bundle 'score_sheet' 'js' %}
{% endblock %}

{% block competition_content %}
<div class="module input-arrows">
    <h2>Scoresheet for {{ entry.competition_entry.archer }}<h2>
    <h3>{{ score.target.boss }}{{ score.target.target }} - {{ round }}</h3>

    <div id="app" data-score-api="{% url 'score_sheet_api' slug=competition.slug score_id=score.pk %}"></div>

    <table class="score-sheet">

        <thead>
            <tr>
                <td colspan="{% if layout.0.scores|length > 6 %}6{% else %}{{ per_end }}{% endif %}"></td>
                {% if layout.0.scores|length > 6 %}
                <th>ET</th>
                <td colspan="6"></td>
                <th>ET</th>
                {% endif %}
                <th>
                    {% if layout.scores|length == 12 %}
                    Doz
                    {% else %}
                    Score
                    {% endif %}
                </th>
                {% if round.has_hits %}
                <th>Hits</th>
                {% endif %}
                {% if round.has_golds %}
                <th>Golds</th>
                {% endif %}
                {% if round.has_xs %}
                <th>Xs</th>
                {% endif %}
                <th>RT</th>
                {% if competition_admin %}
                <td></td>
                {% endif %}
            </tr>
        </thead>
        {% for dozen in layout %}
        <tr>
            {% for arrow in dozen.scores %}
                <td>{{ arrow }}</td>
                {% if forloop.counter == 6 %}
                <th>{{ dozen.et1 }}</th>
                {% endif %}
            {% endfor %}
            {% if layout.0.scores|length > 6 %}
            <th>{{ dozen.et2 }}</th>
            {% endif %}
            <th>{{ dozen.doz }}</th>
            {% if round.has_hits %}
            <th>{{ dozen.hits }}</th>
            {% endif %}
            {% if round.has_golds %}
            <th>{{ dozen.golds }}</th>
            {% endif %}
            {% if round.has_xs %}
            <th>{{ dozen.xs }}</th>
            {% endif %}
            <th>{{ dozen.rt }}</th>
            {% if competition_admin %}
            <td><a class="btn btn-small" href="{% url 'input_arrows' slug=competition.slug session_id=entry.session_round.session_id dozen=forloop.counter boss=score.target.boss %}">Edit</a></td>
            {% endif %}
        </tr>
        {% endfor %}
        <tr class="footer">
            {% if layout.0.scores|length > 6 %}
                <td colspan="{{ layout.0.scores|length|add:"-1" }}"></td>
            {% elif layout.scores|length < 3 %}
            {% else %}
                <td colspan="{{ layout.0.scores|length|add:"-3" }}"></td>
            {% endif %}
            <th class="no-left-border" colspan="3">Totals</th>
            <th>{{ score.score }}</th>
            {% if round.has_hits %}
            <th>{{ score.hits }}</th>
            {% endif %}
            {% if round.has_golds %}
            <th>{{ score.golds }}</th>
            {% endif %}
            {% if round.has_xs %}
            <th>{{ score.xs }}</th>
            {% endif %}
            <td></td>
            {% if competition_admin %}
            <td></td>
            {% endif %}
        </tr>
    </table>
</div>
{% endblock %}
