.target-list
  .intro
    margin: 10px

    .unallocated
      margin-left: 10px
      color: $hlorange
      font-weight: bold
      cursor: help

    li
      padding: 10px 0

    .btn
      font-family: $font-sans-serif
      border-radius: 7px
      background-image: -webkit-linear-gradient(darken($vlightblue, 10%), $vlightblue, darken($vlightblue, 10%))
      font:
        size: 14px
      cursor: pointer
      padding: 5px
      text-align: center
      -webkit-user-select: none

  .session
    float: left
    width: 350px

  .boss
    padding: 5px 0
    border-bottom: 1px solid $dark

    .boss-number
      float: left

    ul
      margin-left: 20px

      li
        height: 25px
