{% extends 'base.html' %}


{% block content %}
<header>
    <h1>Clubs</h1>
</header>

<div class="col6">
    <a href="{% url 'club_create' %}" class="btn add">Add club</a>

    {% for club in club_list %}
    {% ifchanged club.short_name.0 %}
        {% if not forloop.first %}
        </ul>
        {% endif %}
        <h2>{{ club.short_name.0 }}</h2>
        <ul class="link-list">
    {% endifchanged %}
        <li>
        <a href="{% url 'club_detail' slug=club.slug %}">{{ club.short_name }}</a>
        </li>
    {% if forloop.last %}
        </ul>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}

