{% extends 'base.html' %}

{% block content %}
<h1>{{ club.name }}</h1>

<div class="row">
    <div class="col6">
        <div class="pull-right">
            <p><a class="btn edit" href="{% url 'club_update' slug=club.slug %}">Edit</a></p>
        </div>
        <ul class="names">
            <li>Short name: <strong>{{ club.short_name }}</strong></li>
        </ul>
    </div>
</div>

{% if archers %}
<div class="row">
    <div class="col6">
        <h3>Archers</h3>
        <div class="row flex">
        {% for archer in archers %}
        <div class="flex-item col2">
            <div class="archer-block">
                <div class="name">
                    <div class="actions">
                        <a class="action-button edit" href="{% url 'archer_update' pk=archer.pk %}"></a>
                        <form class="inline" action="{% url 'archer_archive' pk=archer.pk %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="archived" value="on">
                            <button type="submit" class="action-button archive">
                        </form>
                    </div>
                    <p>{{ archer }}</p>
                </div>
                <div class="bottom">
                    <div class="entries">
                        <p><a class="action-button reveal" href="#">{{ archer.entries|length }} competition{{ archer.entries|pluralize }}</a></p>
                        <ul>
                            {% for entry in archer.entries %}
                            <li>{{ entry.competition }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <p>
                        <span class="pill bowstyle {{ archer.bowstyle|slugify }}">{{ archer.bowstyle }}</span>
                        <span class="pill gender {{ archer.get_gender_display|lower }}">{{ archer.get_gender_display }}</span>
                        {% if archer.novice == "N" %}
                        <span class="pill novice">{{ archer.get_novice_display }}</span>
                        {% endif %}
                        {% if archer.age == "J" %}
                        <span class="pill junior">{{ archer.get_age_display }}</span>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
        </div>
        {% if archived_archer_count %}
        <div class="row6">
            <p>View {{ archived_archer_count }} archived archer{{ archived_archer_count|pluralize }}</p>
        </div>
        {% endif %}
    </div>
</div>
{% endif %}

{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="{{ STATIC_URL }}lib/jquery/jquery-2.1.3.min.js"></script>
<script src="{{ STATIC_URL }}js/archer-block-reveal.js"></script>
{% endblock %}
