{% extends 'target_list.html' %}

{% block scripts %}
<script src="{{ STATIC_URL }}js/mootools-core-1.3.js"></script>
<script>
    window.addEvent('domready', function () {
        $$('.session-select a').addEvent('click', function (e) {
            if (e) { e.stop(); }
            // do this row
            $$('.session-select .link').removeClass('selected');
            this.getElement('.link').addClass('selected');
            // do the round select row
            $$('.round-select').removeClass('selected');
            var newRoundSelect = $$(this.get('href'));
            newRoundSelect.addClass('selected');
            newRoundSelect.getElement('.selected').getParent('a').fireEvent('click');
        });

        $$('.round-select a').addEvent('click', function (e) {
            if (e) { e.stop(); }
            // do this row
            this.getParent('.round-select').getElements('.link').removeClass('selected');
            this.getElement('.link').addClass('selected');
            // do the generator
            target = this.get('href');
            var board = $$(target);
            document.location.hash = target.replace('#', '#!');
            $$('.board').removeClass('selected');
            board.addClass('selected');
        });

        if (document.location.hash) {
            $$('a[href=' + document.location.hash.replace('#!', '#') + ']').fireEvent('click');
            $$('a[href=' + document.location.hash.replace('#!', '#').replace(/-round-\d/, '') + ']').fireEvent('click');
        }
    });
</script>
{% endblock scripts %}

{% block moduleclass %}leaderboard{% endblock %}
{% block title %}Leaderboard{% endblock %}

{% block main %}
{% for session, round, results in scores %}
<div class="board {% if not forloop.counter0 %}selected{% endif %}" id="session-{{ session.pk }}-round-{{ round.pk }}">
    <table>
        {% for category, scores in results %}
        <tr>
            <td colspan="100%"><h5>{{ category }}</h5></td>
        </tr>
        {% for score in scores %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ score.target.session_entry.competition_entry.archer }}</td>
            <td>{{ score.target.session_entry.competition_entry.club}}</td>
            <td>{{ score.score }}</td>
            <td>{{ score.hits }}</td>
            <td>{{ score.golds }}</td>
            <td>{{ score.xs }}</td>
        </tr>
        {% endfor %}
    {% endfor %}
    </table>
</div>
{% endfor %}
{% endblock %}
