.competition-nav {
  border: 1px solid #353345;
    border-top: none;
  background-color: #dddafa;
  float: left;
  height: 100%;
  margin-top: 1px;
  margin-left: 3px;
  width: 200px; }
  .competition-nav h2 {
    font-size: 18px;
    margin: 0;
    padding: 5px; }
  .competition-nav ul {
    margin: 0;
    padding: 0; }
    .competition-nav ul li {
      border-bottom: 1px solid #353345;
      padding: 2px 5px; }
    .competition-nav ul a:hover {
      text-decoration: none; }
      .competition-nav ul a:hover li {
        background-color: #070052;
        color: white; }

.competition-content {
  float: left;
  margin: 10px;
  width: 700px; }
  .competition-content .competition-entries .top .new-entry {
    float: left; }
    .competition-content .competition-entries .top .new-entry #id_archer_name {
      border: 2px solid #dddafa;
        border-radius: 4px;
      font-family: Verdana;
      font-size: 18px;
      margin: 0;
      outline: none;
      padding: 5px;
      width: 300px; }
      .competition-content .competition-entries .top .new-entry #id_archer_name:focus {
        border-color: #6fb3ff; }
      .competition-content .competition-entries .top .new-entry #id_archer_name::webkit-input-placeholder {
        font-style: italic; }
    .competition-content .competition-entries .top .new-entry .options {
      border: 2px solid #dddafa;
        border-top: none;
      margin: 0 0px;
      width: 296px; }
      .competition-content .competition-entries .top .new-entry .options .option {
        background-color: white;
        font-family: Verdana;
        padding: 3px 5px; }
        .competition-content .competition-entries .top .new-entry .options .option:not(:last-child) {
          border-bottom: 1px solid #dddafa; }
        .competition-content .competition-entries .top .new-entry .options .option.selected {
          background-color: #353345;
          color: white; }
  .competition-content .competition-entries .top .stats {
    background-color: white;
    float: right; }
    .competition-content .competition-entries .top .stats h4 {
      margin-top: 0; }
    .competition-content .competition-entries .top .stats ul {
      margin: 0 10px 10px 10px; }
  .competition-content .competition-entries .entries-table {
    margin-top: 10px;
    width: 100%; }
    .competition-content .competition-entries .entries-table table {
      width: 100%; }

.select-widget .select, .select-widget .options {
  display: none; }
