.competition-section {
  margin: 15px 10px; }
  .competition-section .competition-nav {
    border: 1px solid #353345;
      border-top: none;
    background-color: #dddafa;
    float: left;
    height: 100%;
    width: 200px; }
    .competition-section .competition-nav h2 {
      font-size: 18px;
      margin: 0;
      padding: 5px; }
    .competition-section .competition-nav ul {
      margin: 0;
      padding: 0; }
      .competition-section .competition-nav ul li {
        border-bottom: 1px solid #353345;
        padding: 7px 10px; }
      .competition-section .competition-nav ul a:hover {
        text-decoration: none; }
        .competition-section .competition-nav ul a:hover li {
          background-color: #070052;
          color: white; }
  .competition-section .competition-content {
    float: left;
    margin: 0 10px;
    width: 700px; }
    .competition-section .competition-content .competition-entries .top .new-entry {
      float: left; }
      .competition-section .competition-content .competition-entries .top .new-entry #id_archer_name,
      .competition-section .competition-content .competition-entries .top .new-entry #id_club_name {
        border: 2px solid #dddafa;
          border-radius: 4px;
        font-family: Verdana;
        font-size: 18px;
        margin: 0;
        outline: none;
        padding: 5px;
        width: 300px; }
        .competition-section .competition-content .competition-entries .top .new-entry #id_archer_name:focus,
        .competition-section .competition-content .competition-entries .top .new-entry #id_club_name:focus {
          border-color: #6fb3ff; }
        .competition-section .competition-content .competition-entries .top .new-entry #id_archer_name::webkit-input-placeholder,
        .competition-section .competition-content .competition-entries .top .new-entry #id_club_name::webkit-input-placeholder {
          font-style: italic; }
      .competition-section .competition-content .competition-entries .top .new-entry .options-wrapper .options {
        margin: 0 0px;
        width: 300px; }
        .competition-section .competition-content .competition-entries .top .new-entry .options-wrapper .options .option {
          background-color: white;
          border-left: 2px solid #dddafa;
          border-right: 2px solid #dddafa;
          border-bottom: 1px solid #dddafa;
          font-family: Verdana;
          padding: 3px 5px; }
          .competition-section .competition-content .competition-entries .top .new-entry .options-wrapper .options .option:last-child {
            border-bottom-width: 2px; }
          .competition-section .competition-content .competition-entries .top .new-entry .options-wrapper .options .option.selected {
            background-color: #353345;
            color: white; }
    .competition-section .competition-content .competition-entries .top .stats {
      background-color: white;
      float: right; }
      .competition-section .competition-content .competition-entries .top .stats h4 {
        margin-top: 0; }
      .competition-section .competition-content .competition-entries .top .stats ul {
        margin: 0 10px 10px 10px; }
    .competition-section .competition-content .competition-entries .entries-table {
      margin-top: 10px;
      width: 100%; }
      .competition-section .competition-content .competition-entries .entries-table table {
        width: 100%; }

.select-widget .select {
  display: none; }
.select-widget .options-wrapper {
  position: relative; }
  .select-widget .options-wrapper .options {
    position: absolute;
    display: none; }
