@import ../../../core/static/css/colors.sass

$navborder: 1px solid $bluegrey

.competition-section
  margin: 15px 10px

  .competition-nav
    border: $navborder
      top: none
    background-color: $vlightblue
    float: left
    height: 100%
    width: 200px
    h2
      font-size: 18px
      margin: 0
      padding: 5px
    ul
      margin: 0
      padding: 0
      li
        border-bottom: $navborder
        padding: 7px 10px
      a
        &:hover
          text-decoration: none
          li
            background-color: $darkblue
            color: white

  .competition-content
    float: left
    margin: 0 10px
    width: 700px
    
    .competition-entries

      .top
        h4
          margin-top: 0

        .new-entry
          background-color: white
          float: left

          $input-width: 300px

          .new-entry-form
            padding: 5px

            input
              border: 2px solid $vlightblue
                radius: 4px
              font:
                family: Verdana
                size: 18px
              margin: 0
              outline: none
              padding: 5px
              width: $input-width
              &:focus
                border-color: $lightblue
              &::webkit-input-placeholder
                font-style: italic

            .options-wrapper

              $sidespacing: 0px
              .options
                margin: 0 $sidespacing
                width: $input-width - 2 * $sidespacing

                .option
                  background-color: white
                  border:
                    left: 2px solid $vlightblue
                    right: 2px solid $vlightblue
                    bottom: 1px solid $vlightblue
                  font:
                    family: Verdana
                  padding: 3px 5px
                  &:last-child
                    border-bottom-width: 2px
                  &.selected
                    background-color: $bluegrey
                    color: white

            #archer-widget
              margin: 0 auto 10px
              width: $input-width

            .archer-details
              visibility: hidden
              opacity: 0
              width: 450px
              -webkit-transition: all 0.2s ease-in-out
              &.shown
                visibility: visible
                opacity: 1

              .button
                border: 2px solid $lightblue
                  radius: 10px
                background-image: -webkit-linear-gradient(darken($vlightblue, 10%), $vlightblue, darken($vlightblue, 10%))
                cursor: pointer
                padding: 5px
                text-align: center
                &.selected
                  background-image: -webkit-linear-gradient($darkbluegrey, $bluegrey, $darkbluegrey)
                  border-color: $darkbluegrey
                  color: white

              #club-widget
                margin: 0 auto
                width: $input-width

              #bowstyle-widget
                padding: 10px 4px
                .button
                  display: inline-block
                  margin: 0 1px

              #save
                background-image: -webkit-linear-gradient($darkbluegrey, $bluegrey, $darkbluegrey)
                border-color: $darkbluegrey
                color: white
                float: right

              .show-more-details
                float: left
                cursor: pointer
                .pointer
                  display: inline-block
                  font-size: 20px
                  line-height: 12px
                  -webkit-transition: -webkit-transform 0.2s ease-in-out
                &.selected
                  .pointer
                    -webkit-transform: rotate(90deg)

              .more-details
                display: none
                padding: 10px 0
                &.shown
                  display: block

                #gender-widget


        .stats
          background-color: white
          float: right

          ul
            margin: 0 10px 10px 10px

      .entries-table
        margin-top: 10px
        width: 100%

        table
          width: 100%


.select-widget
  .select
    display: none
  .options-wrapper
    position: relative
    .options
      position: absolute
      display: none

.buttons-widget
  .select
    display: none
