{% extends 'competition_index.html' %}

{% block competition_content %}
<!--p>
What should this page look like? We need to be able to do the following: Add new entries, modify existing entries (including make a note of payments), see all of the sessions and which round the archer has entered in which session, filter and/or search the entries, see stats on how many entries you have.
</p>
<p>
Adding new entries will probably be the biggest use case for the page, so this should appear at the top. There should be a single large input box, which acts as a select box as before. Once you have selected an archer, the options should appear and be easily changeable.
</p>
<p>
Should you be able to add multiple entrants in one go? Should we do AJAX saving?
</p-->

<div class="competition-entries">
    <div class="top">
        <div class="new-entry">
            {{ form.archer_name }}
            <div class="hidden">
                {{ form.archer }}
            </div>
            <div class="options hidden">
                <div class="option selected">Emma Tamlyn</div>
                <div class="option">Emma Tamlyn</div>
                <div class="option">Emma Tamlyn</div>
                <div class="option">New Archer</div>
            </div>
            <div class="archer-details">
                {{ form.club }}
                {{ form.bowstyle }}
                {{ form.age }}
                {{ form.novice }}
                {{ form.gender }}
            </div>
        </div>
        <div class="stats">
            <h4>Entries Summary</h4>
            <ul>
                <li>Current total entries: 24</li>
                <li>Current total entries: 24</li>
                <li>Current total entries: 24</li>
                <li>Current total entries: 24</li>
                <li>Current total entries: 24</li>
                <li>Current total entries: 24</li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <div class="entries-table">
        <table>
            <caption><h4>Existing entries</h4></caption>
            <thead>
                <th>Name</th>
                <th>Club</th>
                <th>Bowstyle</th>
                <th>Gender</th>
                <th>Age</th>
                <th>06/08/11</th>
                <th>07/08/11</th>
            </thead>
            <tr>
                <td>Marc Tamlyn</td>
                <td></td>
                <td>Recurve</td>
                <td>Male</td>
                <td>Senior</td>
                <td>FITA 70m</td>
                <td>Gents FITA</td>
                <td>Edit</td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}
