{% extends 'competition_index.html' %}

{% block scripts %}
<script src="{{ STATIC_URL }}js/mootools-core-1.3.js"></script>
<script src="{{ STATIC_URL }}js/competition_entries.js"></script>
<script>
    window.addEvent('domready', function () {
        var archer, club, bowstyle, gender, age, novice, gnas_no, session0, session1;
        var reset = function () {
            club.reset();
            bowstyle.reset();
            gender.reset();
            age.reset();
            novice.reset();
            session0.reset();
            session1.reset();
            gnas_no.set('value', '');
            $$('.show-more-details').removeClass('selected');
            $$('.more-details').removeClass('shown');
        }
        archer = new SelectWidget({
            widget: $('archer-widget'),
            blank: 'New Archer',
            callback: function (widget) {
                reset();
                $$('.archer-details').addClass('shown');
                if (widget.is_new) {
                    $$('.show-more-details').fireEvent('click');
                } else {
                    club.setValue(widget.selectedObject.club);
                    bowstyle.setValue(widget.selectedObject.bowstyle);
                    gender.setValue(widget.selectedObject.gender);
                    age.setValue(widget.selectedObject.age);
                    novice.setValue(widget.selectedObject.novice);
                    gnas_no.set('value', widget.selectedObject.gnas_no);
                }
            }
        });
        club = new SelectWidget({
            widget: $('club-widget'),
            blank: 'New Club'
        });
        bowstyle = new ButtonWidget($('bowstyle-widget'));
        gender = new ButtonWidget($('gender-widget'));
        age = new ButtonWidget($('age-widget'));
        novice = new ButtonWidget($('novice-widget'));
        session0 = new ButtonWidget($('session-0-widget'));
        session1 = new ButtonWidget($('session-1-widget'));
        gnas_no = $('id_gnas_no');
        $$('.show-more-details').addEvent('click', function () {
            $$('.more-details').toggleClass('shown');
            this.toggleClass('selected');
        });

        $$('.save').addEvent('click', function () {
            data = {}
            $$('.new-entry-form input').each(function (item) {
                data[item.name] = item.value;
            });
            $$('.new-entry-form select').each(function (item) {
                data[item.name] = item.value;
            });
            var request = new Request({
                data: data,
                onSuccess: function (response) {
                    console.log(response);
                }
            });
            request.send();
        });
    });
</script>
{% endblock %}

{% block competition_content %}

<div class="competition-entries">
    <div class="top">

        <div class="new-entry">
            <h4>New Entry</h4>
            <div class="new-entry-form">
                {% csrf_token %}
                {{ form.archer }}
                <div class="archer-details">
                    {{ form.sessions }}
                    {{ form.bowstyle }}

                    <div class="show-more-details button">
                        More options <div class="pointer">&raquo;</div>
                    </div>
                    <div class="button save">
                        Save
                    </div>
                    <div class="clear"></div>

                    <div class="more-details">
                        {{ form.club }}
                        {{ form.gnas_no }}
                        {{ form.novice }}
                        {{ form.age }}
                        {{ form.gender }}
                        <div class="button save">
                            Save
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="stats">
            <h4>Entries Summary</h4>
            <ul>
                <li>Current total entries: 24</li>
                <li>Current total entries: 24</li>
                <li>Current total entries: 24</li>
                <li>Current total entries: 24</li>
                <li>Current total entries: 24</li>
                <li>Current total entries: 24</li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>

    <div class="entries-table">
        <table>
            <caption><h4>Existing entries</h4></caption>
            <thead>
                <th>Name</th>
                <th>Club</th>
                <th>Bowstyle</th>
                <th>Gender</th>
                <th>Age</th>
                <th>06/08/11</th>
                <th>07/08/11</th>
            </thead>
            <tr>
                <td>Marc Tamlyn</td>
                <td></td>
                <td>Recurve</td>
                <td>Male</td>
                <td>Senior</td>
                <td>FITA 70m</td>
                <td>Gents FITA</td>
                <td>Edit</td>
            </tr>
        </table>
    </div>
</div>

{% endblock %}
