{% extends 'target_list.html' %}

{% block scripts %}
<script src="{{ STATIC_URL }}js/mootools-core-1.3.js"></script>
<script>
    window.addEvent('domready', function () {
        $$('.session-select a').addEvent('click', function (e) {
            e.stop();
            // do this row
            $$('.session-select .link').removeClass('selected');
            this.getElement('.link').addClass('selected');
            // do the round select row
            $$('.round-select').removeClass('selected');
            var newRoundSelect = $$(this.get('href'));
            newRoundSelect.addClass('selected');
            newRoundSelect.getElement('.selected').getParent('a').fireEvent('click');
        });

        $$('.round-select a').addEvent('click', function (e) {
            if (e) {e.stop();}
            // do this row
            this.getParent('.round-select').getElements('.link').removeClass('selected');
            this.getElement('.link').addClass('selected');
            // do the generator
            var board = $$(this.get('href'));
            $$('.registration-board').removeClass('selected');
            board.addClass('selected');
        });

        $$('.hide').addEvent('click', function (e) {
            e.stop();
            this.getParent('.registration-board').getElements('tr.present').toggleClass('hidden');
            this.getElement('li').toggleClass('active');
        });

        var setPresent = function (row) {
            row.toggleClass('present');
            if (row.hasClass('present') && row.getParent('.registration-board').getElement('.hide li').hasClass('active')) {
                row.addClass('hidden');
            }
        };

        $$('.present').addEvent('click', function (e) {
            e.stop();
            var request = new Request({
                data: {
                    present: true,
                    pk: this.get('rel'),
                    csrfmiddlewaretoken: $$('input[name=csrfmiddlewaretoken]')[0].value
                },
                onSuccess: function (response) {
                    setPresent(this.getParent('tr'));
                }.bind(this)
            });
            request.send();
        });

        $$('.not-present').addEvent('click', function (e) {
            e.stop();
            var request = new Request({
                data: {
                    present: false,
                    pk: this.get('rel'),
                    csrfmiddlewaretoken: $$('input[name=csrfmiddlewaretoken]')[0].value
                },
                onSuccess: function (response) {
                    setPresent(this.getParent('tr'));
                }.bind(this)
            });
            request.send();
        });
    });
</script>
{% endblock scripts %}

{% block moduleclass %}registration{% endblock %}
{% block title %}Registration{% endblock %}

{% block main %}
{% csrf_token %}
{% for session, round, targets, entries in target_list %}
<div class="registration-board {% if not forloop.counter0 %}selected{% endif %}" id="session-{{ session.pk }}-round-{{ round.pk }}" rel="{{ session.archers_per_target }}">
    <ul class="actions">
        <a class="hide" href="#hide"><li class="action">Hide present</li></a>
    </ul>
    <div class="clear"></div>
    <table>
        <thead>
            <th>Target</th>
            <th>Name</th>
            <th>Club</th>
            <th>Bowstyle</th>
            <th>Gender</th>
            <th>Age</th>
            <th>Present</th>
        </thead>
        {% for target, detail in targets %}
        <tr class="{% if not detail or detail.session_entry.present %}present{% endif %}">
            <td>{{ target }}</td>
            <td>{{ detail.session_entry.competition_entry.archer }}</td>
            <td>{{ detail.session_entry.competition_entry.club }}</td>
            <td>{{ detail.session_entry.competition_entry.bowstyle }}</td>
            <td>{{ detail.session_entry.competition_entry.archer.get_gender_display }}</td>
            <td>{{ detail.session_entry.competition_entry.get_age_display }}</td>
            <td>
                {% if detail %}
                <a href="#present" class="present" rel="{{ detail.session_entry.pk }}">Present</a>
                <a href="#not-present" class="not-present" rel="{{ detail.session_entry.pk }}">Not Present</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endfor %}
{% endblock %}
