<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block head %}
            {% block meta %}
            <title>{% block title %}Archery Tournaments{% endblock %}</title>
            {% endblock meta %}
            {% block styles %}
                <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" />
                {% block extrastyles %}
                {% endblock extrastyles %}
            {% endblock styles %}
            {% block scripts %}
            {% endblock scripts %}
        {% endblock head %}
    </head>
    {# TODO: Remove bodyclass in favour of page_id #}
    <body class="{% block bodyclass %}{% endblock %}">
        <div id="{% block page_id %}{% endblock %}">
            {% block nav %}
            <nav>
                {% block nav_links %}
                <a href="{% url 'index' %}" class="nav-link">Home</a>
                <a href="{% url 'club_list' %}" class="nav-link">Clubs</a>
                <a href="{% url 'tournaments_list' %}" class="nav-link">Tournaments</a>
                <a href="{% url 'logout' %}" class="nav-link">Log Out</a>
                {% endblock nav_links %}
            </nav>
            {% endblock nav %}
            <div class="container">
                {% block content %}
                {% endblock %}
            </div>
            {% block footer %}
            <footer>
                <div class="container">
                    <p>Designed, built and maintained by Emma &amp; <a href="http://twitter.com/mjtamlyn">Marc Tamlyn</a></p>
                </div>
            </footer>
            {% endblock footer %}
        </div>
    </body>
</html>
