<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block head %}
            {% block meta %}
            <title>{% block title %}{% if title %}{{ title }} | {% endif %}Archery Competitions{% endblock %}</title>
            <meta property="og:title" content="{% if title %}{{ title }}{% else %}Archery Competitions{% endif %}" />
            <meta property="og:site_name" content="TamlynScore" />
            {% if meta_description %}
                <meta property="og:description" content="{{ meta_description }}" />
            {% endif %}
            {% endblock meta %}
            {% block styles %}
                <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css?cache=2023-08-06-2" />
                {% block extrastyles %}
                {% endblock extrastyles %}
            {% endblock styles %}
        {% endblock head %}
    </head>
    {# TODO: Remove bodyclass in favour of page_id #}
    <body class="{% block bodyclass %}{% endblock %}">
        <div id="{% block page_id %}{% endblock %}">
            {% block nav %}
            <nav class="header-nav">
                <div class="container">
                    <div class="home">
                        <a href="{% url 'index' %}" class="wide">TamlynScore</a>
                        <a href="{% url 'index' %}" class="narrow">TS</a>
                    </div>
                    <div class="nav-links">
                        {% block nav_links %}
                        <a href="{% url 'tournaments_list' %}" class="nav-link">Competitions</a>
                        <a href="{% url 'club_list' %}" class="nav-link">Clubs</a>
                        {% endblock nav_links %}
                    </div>
                    <div class="user">
                        {% if user.is_authenticated %}
                        <span class="name">{{ user }}</span>
                        <a href="{% url 'logout' %}" class="logout">Log Out</a>
                        {% else %}
                        <a href="{% url 'login' %}">Log In</a>
                        {% endif %}
                    </div>
                </div>
            </nav>
            {% endblock nav %}
            {% block full_content %}
            {% block precontent %}{% endblock %}
            <div class="container">
                {% block messages %}
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                {% endblock %}
                {% block content %}
                {% endblock %}
            </div>
            {% endblock %}
            {% block footer %}
            <footer>
                <div class="container">
                    <p>Designed, built and maintained by <a href="http://twitter.com/mjtamlyn">Marc Tamlyn</a> and <a href="https://github.com/mjtamlyn/archery-scoring/graphs/contributors">contributors</a>.</p>
                </div>
            </footer>
            {% endblock footer %}
        </div>
        {% block scripts %}
        {% endblock scripts %}
    </body>
</html>
