{% extends 'base.html' %}

{% block nav %}
    <nav class="header-nav">
        <div class="container">
            <div class="home">
                <a href="{% url 'summary' %}" class="wide">TamlynScore</a>
                <a href="{% url 'summary' %}" class="narrow">TS</a>
            </div>
            <div class="nav-links">
                {% for mode in modes %}
                <a href="{% url 'mode-detail' mode=mode.mode %}" class="nav-link">{{ mode }}</a>
                {% endfor %}
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
<header>
    <h1>{{ competition }} - Leaderboard</h1>
</header>
{% endblock %}
