{% extends 'base.html' %}

{% block content %}
<a href="{% url competition_detail slug=competition.slug %}"><h1>{{ competition }}</h1></a>

{% block competition_nav %}
<div class="competition-section">
    <div class="competition-nav">
        <h2>Before the shoot</h2>
        <ul>
            <a href="{% url entry_list slug=competition.slug %}"><li>Manage Entries</li></a>
            <a href="{% url target_list slug=competition.slug %}"><li>Target lists</li></a>
            <a href="{% url score_sheets slug=competition.slug %}"><li>Score sheets</li></a>
        </ul>
        <h2>On the day</h2>
        <ul>
            <a href="{% url registration slug=competition.slug %}"><li>Registration</li></a>
            <a href="{% url scores.views.input_scores slug=competition.slug %}"><li>Input scores</li></a>
            <a href="{% url scores.views.leaderboard slug=competition.slug %}"><li>Leaderboard</li></a>
            <a href="{% url olympic.views.olympic_index slug=competition.slug %}"><li>Head to heads panel</li></a>
        </ul>
        <h2>After the shoot</h2>
        <ul>
            <a href="{% url scores.views.results slug=competition.slug %}"><li>Full Results</li></a>
        </ul>
    </div>
    {% endblock %}

    <div class="competition-content">
        {% block competition_content %}
        <p><strong>Required sections:</strong></p>
        <p>Add Entries</p>
        <p>Do target allocations</p>
        <p>Registration</p>

        <p><strong>Printouts:</strong></p>
        <p>Target list</p>
        <p>Score sheets</p>

        <p><strong>Long term sections:</strong></p>
        <p>My Tournaments</p>
        <p>Tournament admin</p>

        <p><strong>Scoring sections:</strong><p>
        <p>Add scores</p>
        <p>Results/Leaderboard</p>
        <p>Head to Heads</p>
        {% endblock %}
    </div>

    <div class="clear"></div>
</div>

{% endblock %}

