{% extends 'base.html' %}

{% block content %}
<header>
    <h1>{{ season }}</h1>
</header>

<div class="row">
    <div class="col6">
        <h3>Legs</h3>
        {% for leg in season.leg_set.all %}
            <h4>{{ leg }}</h4>
            <ul class="link-list">
                {% for mode in leg.result_modes.all %}
                <li><a href="{{ mode.get_absolute_url }}">{{ mode }}</a></li>
                {% endfor %}
            </ul>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
