{% extends 'entries/competition_detail.html' %}

{% block competition_content %}
<div class="row">
    <div class="col6">
        <h2>{{ competition }} - Judge pages</h2>
        {% if not user_is_judge %}
        <p>You are currently logged in as a competition admin. Be careful with any changes on these pages!</p>
        <p>
        <a href="{% url 'judge_authenticate' id=judge_user.uuid %}">Judge login</a>
        </p>
        {% else %}
        <a class="btn" href="{% url 'judge_inspection' slug=competition.slug %}">Equipment inspection</a>
        {% if competition.has_olympic %}
        <a class="btn" href="{% url 'judge_matches' slug=competition.slug %}">Matchplay layout</a>
        {% endif %}
        {% endif %}
    </div>
</div>
{% block judge_content %}
{% endblock %}
{% endblock %}
