<html>
    <head>
        {% block head %}
            {% block meta %}
            <title>{% block title %}Archery Tournaments{% endblock %}</title>
            {% endblock meta %}
            {% block styles %}
                <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css" />
                {% block extrastyles %}
                {% endblock extrastyles %}
            {% endblock styles %}
            {% block scripts %}
            {% endblock scripts %}
        {% endblock head %}
    </head>
    <body>
        <div class="wrapper">
            {% block nav %}
            <div class="navigation">
                <a href="{% url core.views.index %}"><div class="nav-link">Home</div></a>
                <a href="{% url core.views.clubs %}"><div class="nav-link">Clubs</div></a>
            </div>
            {% endblock nav %}
            {% block content %}
            {% endblock %}
            {% block footer %}
            <div class="footer">
                <p>Designed, built and maintained by <a href="http://twitter.com/mjtamlyn">Marc Tamlyn</a></p>
            </div>
            {% endblock footer %}
        </div>
    </body>
</html>
