{% extends 'entries/competition_detail.html' %}

{% block scripts %}
<script src="{{ STATIC_URL }}lib/jquery/jquery-2.1.3.min.js"></script>
{% endblock %}

{% block competition_content %}
<h2>Select archer to enter</h2>
<p>Enter an archer name:</p>
<form method="GET" action="">
    {{ search_form.query }}
    <input type="submit" class="btn" value="Search">
</form>

<p><a href="{% url 'archer_create' %}?competition={{ competition.slug }}{% if search_form.cleaned_data.query %}&name={{ search_form.cleaned_data.query|urlencode }}{% endif %}" class="btn">Create new archer</a></p>

{% if archers %}
<div class="row">
    {% for archer in archers %}
    <div class="col2">
        <a href="{% url 'entry_add' slug=competition.slug archer_id=archer.pk %}">
            <div class="archer-block">
                <div class="name">
                    <p>{{ archer }}</p>
                </div>
                <div class="bottom">
                    <p>
                        {{ archer.club }}
                    </p>
                    <p>
                        <span class="pill bowstyle {{ archer.bowstyle|slugify }}">{{ archer.bowstyle }}</span>
                        <span class="pill gender {{ archer.get_gender_display|lower }}">{{ archer.get_gender_display }}</span>
                        {% if competition.has_novices and archer.novice == "N" %}
                        <span class="pill novice">{{ archer.get_novice_display }}</span>
                        {% endif %}
                        {% if competition.has_juniors and archer.age == "J" %}
                        <span class="pill junior">{{ archer.get_age_display }}</span>
                        {% endif %}
                    </p>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% else %}
No archers found.
{% endif %}
{% endblock %}
