{% extends 'base.html' %}

{% load floppyforms %}

{% block scripts %}
<script src="{{ STATIC_URL }}lib/jquery/jquery-2.1.3.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery.datetimepicker.full.js"></script>
<script src="{{ STATIC_URL }}js/competition_form.js"></script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/components/jquery.datetimepicker.css">
{% endblock %}

{% block content %}
{% if form.instance.pk %}
    <h1 id="title">{{ form.instance }}</h1>
{% else %}
    <h1 id="title">Add competition</h1>
{% endif %}

<form action="" method="post" class="page-form">
    {% csrf_token %}

	<div class="form-group">
		<h2>General Information</h2>

        {% formrow form.full_name form.short_name using 'form-item.html' %}
        {% formrow form.date form.end_date using 'form-item.html' %}
	</div>

	<div class="form-group">
		<h2>Scoring Details</h2>

        {% formrow form.scoring_system form.arrows_entered_per_end using 'form-item.html' %}
        {% formrow form.archers_per_target form.team_size form.compound_team_size using 'form-item.html' %}
	</div>

	<div class="form-group">
		<h2>Sessions</h2>

        <div id="session_group_1" class="form-flex-wrapper contains-subgroup">
    		<div id="session_1" class="form-subgroup form-flex-subgroup">
    			<h3>Session 1</h3>
                {% formrow form.session_1_time using 'form-item.html' %}
                {% formrow form.session_1_rounds using 'form-item.html' %}
    		</div>

            <div id="session_2" class="form-subgroup form-flex-subgroup">
                <h3>Session 2</h3>
                {% formrow form.session_2_time using 'form-item.html' %}
                {% formrow form.session_2_rounds using 'form-item.html' %}
            </div>
        </div>

        <div id="session_group_2" class="form-flex-wrapper contains-subgroup">
    		<div class="form-subgroup form-flex-subgroup">
    			<h3>Session 3</h3>
                {% formrow form.session_3_time using 'form-item.html' %}
                {% formrow form.session_3_rounds using 'form-item.html' %}
    		</div>

            <div class="form-subgroup form-flex-subgroup">
                <h3>Session 4</h3>
                {% formrow form.session_4_time using 'form-item.html' %}
                {% formrow form.session_4_rounds using 'form-item.html' %}
            </div>
        </div>

        <div id="session_group_3" class="form-flex-wrapper contains-subgroup">
    		<div class="form-subgroup form-flex-subgroup">
    			<h3>Session 5</h3>
                {% formrow form.session_5_time using 'form-item.html' %}
                {% formrow form.session_5_rounds using 'form-item.html' %}
    		</div>

            <div class="form-subgroup form-flex-subgroup">
                <h3>Session 6</h3>
                {% formrow form.session_6_time using 'form-item.html' %}
                {% formrow form.session_6_rounds using 'form-item.html' %}
            </div>
        </div>

        <button class="btn add pull-right" id="add_sessions">Add more sessions</button>
	</div>

	<div class="form-group">
		<h2>Results and Leaderboards</h2>

        <div class="form-flex-wrapper contains-subgroup">
            <div class="form-subgroup form-flex-subgroup">
                <h3>Result modes</h3>
                {% formrow form.result_modes using 'form-item.html' %}
            </div>

            <div class="form-subgroup form-flex-subgroup">
                <h3>Leaderboard only modes</h3>
                {% formrow form.leaderboard_only_modes using 'form-item.html' %}
            </div>
        </div>

        <div class="form-flex-wrapper">
            <div class="form-subgroup form-flex-subgroup">
                <h3>Novices</h3>

                {% formrow form.has_novices using 'form-item.html' %}
                {% formrow form.novice_team_size using 'form-item.html' %}
            </div>

            <div class="form-subgroup form-flex-subgroup">
                <h3>Juniors</h3>

                {% formrow form.has_juniors using 'form-item.html' %}
                {% formrow form.has_agb_age_groups using 'form-item.html' %}
                {% formrow form.has_wa_age_groups using 'form-item.html' %}
                {% formrow form.has_junior_masters_age_groups using 'form-item.html' %}
                {% formrow form.junior_team_size using 'form-item.html' %}
            </div>
        </div>

		<div class="form-subgroup">
			<h3>Individual Results</h3>

            {% formrow form.has_guests form.novices_in_experienced_individual form.exclude_later_shoots using 'form-item.html' %}
		</div>

		<div class="form-subgroup">
			<h3>Team Results</h3>

            {% formrow form.allow_incomplete_teams form.combine_rounds_for_team_scores form.novices_in_experienced_teams using 'form-item.html' %}
            {% formrow form.force_mixed_teams form.strict_b_teams form.strict_c_teams using 'form-item.html' %}
            {% formrow form.split_gender_teams form.use_county_teams form.use_custom_teams using 'form-item.html' %}
		</div>
	</div>

	<input type="submit" class="btn" />
</form>
{% endblock %}
