{% extends 'base.html' %}

{% block content %}
<a href="{% url competition_detail slug=competition.slug %}"><h1>{{ competition }}</h1></a>

{% block competition_nav %}
<div class="competition-section">
    <div class="competition-nav">
        {% with competition.result_modes.all as modes %}
        <h2>Before the shoot</h2>
        <ul>
            <a href="{% url entry_list slug=competition.slug %}"><li>Manage Entries</li></a>
            <a href="{% url target_list slug=competition.slug %}"><li>Target lists</li></a>
            <a href="{% url score_sheets slug=competition.slug %}"><li>Score sheets</li></a>
        </ul>
        <h2>On the day</h2>
        <ul>
            <a href="{% url registration slug=competition.slug %}"><li>Registration</li></a>
            <a href="{% url input_scores slug=competition.slug %}"><li>Input scores</li></a>
            {% for mode in modes %}
                <a href="{% url new_leaderboard slug=competition.slug mode=mode.mode format='html' %}"><li>Leaderboard {{ mode|lower }}</li></a>
            {% endfor %}
            {% if not modes %}
                <a href="{% url leaderboard slug=competition.slug %}"><li>Leaderboard (by session)</li></a>
                <a href="{% url leaderboard_combined slug=competition.slug %}"><li>Leaderboard (Combined)</li></a>
                <a href="{% url leaderboard_combined_experienced slug=competition.slug %}"><li>Leaderboard (Experienced)</li></a>
                <a href="{% url leaderboard_combined_novice slug=competition.slug %}"><li>Leaderboard (Novice)</li></a>
                <a href="{% url leaderboard_teams slug=competition.slug %}"><li>Leaderboard (Teams)</li></a>
                <a href="{% url leaderboard_summary slug=competition.slug %}"><li>Leaderboard (Summary)</li></a>
            {% endif %}
            <a href="{% url olympic_index slug=competition.slug %}"><li>Head to heads panel</li></a>
        </ul>
        <h2>After the shoot</h2>
        <ul>
            {% for mode in modes %}
            {% if not mode.leaderboard_only %}
                <a href="{% url new_results slug=competition.slug mode=mode.mode format='html' %}"><li>Results {{ mode|lower }}</li></a>
            {% endif %}
            {% endfor %}
        </ul>
        {% endwith %}
    </div>
    {% endblock %}

    <div class="competition-content">
        {% block competition_content %}
        <div class="module">
            <h4>About this competition</h4>
            <dl>
                <dt>Tournament date(s)</dt>
                <dd>{{ competition.date }}{% if not competition.end_date == competition.date %} to {{ competition.end_date }}{% endif %}</dd>
                <dt>Hosted by</dt>
                <dd>{{ competition.tournament.host_club }}</dd>
                <dt>Options</dt>
                <dd>
                    <ul>
                        <li>{% if competition.has_teams %}Has team awards{% else %}Does not have team awards{% endif %}</li>
                        <li>{% if competition.has_novices %}Has a novice category{% else %}Does not have a novice category{% endif %}</li>
                        {% if competition.has_novices %}
                        <li>{% if competition.novices_in_experienced_teams %}Novices can be in experienced teams{% else %}Novices cannot be in experienced teams{% endif %}</li>
                        {% endif %}
                    </ul>
                </dd>
        </div>
        {% endblock %}
    </div>

    <div class="clear"></div>
</div>

{% endblock %}

