{% extends 'base.html' %}

{% block content %}
<header>
    {% if user.is_superuser %}
    <a class="pull-right btn add" href="{% url 'competition_create' %}">New tournament</a>
    {% endif %}
    <h1>Competitions</h1>
</header>

{% if current %}
<div class="row">
    <div class="col6">
        <h3>Competitions in progress</h3>
        <ul class="link-list">
            {% for competition in current %}
            <li>
                <a href="{% url 'competition_detail' slug=competition.slug %}">
                    {{ competition }}
                    <small>{{ competition.date|date:"jS F" }}</small>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}

<div class="row">
    <div class="col3">
        <h3>Upcoming competitions</h3>
        <ul class="link-list">
            {% for competition in upcoming %}
            <li>
                <a href="{% url 'competition_detail' slug=competition.slug %}">
                    {{ competition }}
                    <small>{{ competition.date|date:"jS F" }}</small>
                </a>
            </li>
            {% empty %}
            <li>
                <p>No upcoming competitions.</p>
            </li>
            {% endfor %}
        </ul>
    </div>

    {% if past %}
    <div class="col3">
        <h3>Completed competitions</h3>
        {% for competition in past %}
            {% ifchanged competition.date.year %}
                {% if not forloop.first %}
                </ul>
                </div>
                {% endif %}
                <div class="year-accordion {% if forloop.first %}year-accordion--active{% endif %}">
                    <h4 class="year-accordion__header">{{ competition.date.year }}</h4>
            <ul class="link-list">
            {% endifchanged %}
                <li>
                <a href="{% url 'competition_detail' slug=competition.slug %}">
                    {{ competition }}
                    <small>{{ competition.date|date:"jS F" }}</small>
                </a>
                </li>
        {% endfor %}
        </ul>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}


{% block scripts %}
<script>
    document.querySelectorAll('.year-accordion').forEach(function(el) {
        var header = el.querySelector('.year-accordion__header');
        header.addEventListener('click', function() {
            el.classList.toggle('year-accordion--active');
        });
    });
</script>
{% endblock %}
