{% extends 'entries/competition_detail.html' %}

{% block competition_content %}

<div class="competition-entries">
    <div class="module">
        <form method="GET" action="" class="search-form">
            <strong>Search:</strong><br>
            {{ search_form }}
        </form>
        <form method="POST" action="{# url 'new_entry' slug=competition.slug #}" class="new-form">
            {% csrf_token %}
            <strong>Add entry:</strong><br>
            {{ new_form }}
        </form>
        <div class="stats">
            {{ entries|length }} entries
        </div>
    </div>
    <table class="entries">
        <thead>
            <tr>
                <th></th>
                <th>Archer</th>
                <th>Details</th>
                {% for session in sessions %}
                <th>{{ session.session.start }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for entry in entries %}
            <tr>
                <td class="actions">
                    <a>Edit</a>
                    <a>Delete</a>
                </td>
                <td>{{ entry.entry.archer }}</td>
                <td class="details">
                    {{ entry.entry.club }}<br>
                    {{ entry.entry.bowstyle }}<br>
                    {% if competition.has_novices %}
                        {{ entry.entry.get_novice_display }}<br>
                    {% endif %}
                    {% if competition.has_juniors %}
                        {{ entry.entry.archer.get_age_display }}<br>
                    {% endif %}
                    {% if entry.entry.guest %}
                        <em>Guest</em><br>
                    {% endif %}
                </td>
                {% for session in sessions %}
                <td>
                    {% for round in session.rounds %}
                        {% for round_pk in entry.rounds %}
                            {% if round_pk == round.pk %}
                                {{ round.shot_round }}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
