{% extends 'entries/competition_detail.html' %}

{% block page_id %}entry-list{% endblock %}

{% block scripts %}
<script src="{{ STATIC_URL }}lib/jquery/jquery-2.1.3.min.js"></script>
{% endblock %}

{% block competition_content %}
<div class="row">
    <div class="col2">
        <form action="{% url 'archer_search' slug=competition.slug %}" method="GET">
            {{ search_form.query }}
            <input type="submit" value="Add entry" class="btn">
        </form>
    </div>
    <div class="col4">
        <h3>Stats</h3>
        <div class="row">
            {% for session in stats %}
            <div class="col2">
            <strong>{{ session.session.start }}</strong><br>
            <span class="pill">{{ session.total_entries }} entr{{ session.total_entries|pluralize:"y,ies" }}</span><br>
            {% for sr in session.session_rounds %}
                {{ sr.session_round.shot_round }} <span class="pill">{{ sr.total_entries }} entr{{ sr.total_entries|pluralize:"y,ies" }}</span><br>
                {% if sr.total_entries %}
                    {% for bowstyle, count in sr.bowstyles %}
                    <span class="pill {{ bowstyle|slugify }}">{{ count }} {{ bowstyle }}</span>
                    {% endfor %}<br>
                    {% for gender, count in sr.genders %}
                    <span class="pill {{ gender|slugify }}">{{ count }} {{ gender }}</span>
                    {% endfor %}<br>
                    {% if competition.has_novices %}
                    <span class="pill novice">{{ sr.novice_count }} Novice</span><br>
                    {% endif %}
                    {% if competition.has_juniors %}
                    <span class="pill junior">{{ sr.junior_count }} Junior</span><br>
                    {% endif %}
                    {% if competition.has_wa_age_groups %}
                        {% for age_group, count in sr.wa_age_groups %}
                        <span class="pill {{ age_group|slugify }}">{{ count }} {{ age_group }}</span>
                        {% endfor %}<br>
                    {% endif %}
                {% endif %}
            {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="row">
    <div class="col6">
        <h3>Existing entries</h3>

        <div class="row">
        {% for entry in object_list %}
        <div class="col2">
            <div class="archer-block">
                <div class="name">
                    <div class="actions">
                        <a class="action-button edit" href="{% url 'entry_update' slug=competition.slug entry_id=entry.pk %}"></a>
                        <a class="action-button delete" href="{% url 'entry_delete' slug=competition.slug entry_id=entry.pk %}"></a>
                    </div>
                    <p>{{ entry.archer }}</p>
                </div>
                <div class="bottom">
                    <p>
                        {{ entry.team_name }}
                    </p>
                    {% for session in entry.sessionentry_set.all %}
                    <p>{{ session.session_round.session.start|date:"j/n fa" }} - {{ session.session_round.shot_round }}</p>
                    {% endfor %}
                    <p>
                        <span class="pill bowstyle {{ entry.bowstyle|slugify }}">{{ entry.bowstyle }}</span>
                        <span class="pill gender {{ entry.archer.get_gender_display|lower }}">{{ entry.archer.get_gender_display }}</span>
                        {% if competition.has_novices and entry.novice == "N" %}
                        <span class="pill novice">{{ entry.get_novice_display }}</span>
                        {% endif %}
                        {% if competition.has_juniors and entry.age == "J" %}
                        <span class="pill junior">{{ entry.get_age_display }}</span>
                        {% endif %}
                        {% if competition.has_wa_age_groups and entry.wa_age %}
                        <span class="pill junior">{{ entry.get_wa_age_display }}</span>
                        {% endif %}
                        {% if entry.archer.agb_number %}
                            {{ entry.archer.agb_number }}
                        {% else %}
                            <strong>No AGB number</strong>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
