{% extends 'entries/competition_detail.html' %}

{% block page_id %}entry-list{% endblock %}

{% block competition_content %}
<div class="row">
    <div class="col6">
        <h3>Existing entries</h3>

        <div class="row">
        {% for entry in object_list %}
        <div class="col2">
            <div class="archer-block">
                <div class="name">
                    <p>{{ entry.archer }}</p>
                </div>
                <div class="bottom">
                    <p>
                        {{ entry.team_name }}
                    </p>
                    <p>
                        <span class="pill bowstyle {{ entry.bowstyle|slugify }}">{{ entry.bowstyle }}</span>
                        <span class="pill gender {{ entry.archer.get_gender_display|lower }}">{{ entry.archer.get_gender_display }}</span>
                        {% if competition.has_novices and entry.novice == "N" %}
                        <span class="pill novice">{{ entry.get_novice_display }}</span>
                        {% endif %}
                        {% if competition.has_juniors and entry.age == "J" %}
                        <span class="pill junior">{{ entry.get_age_display }}</span>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
