{% if form_title %}
    <h2>{{ form_title }}</h2>
{% endif %}

{% if batch %}
<div class="batch-status">
    <p>Current row: <strong>{{ current_row }}</strong>. Rows to process: <strong>{{ batch_length }}</strong>.</p>
</div>
{% endif %}

<form action="{{ request.get_full_path }}" method="post" class="page-form">
    {% csrf_token %}
    <div class="form-group">
        <div class="form-row">
            {{ form.agb_number.as_field_group }}
            {% if form.guest %}
                {{ form.guest.as_field_group }}
            {% endif %}
        </div>
        <div class="form-row">
            {{ form.bowstyle.as_field_group }}
            {{ form.update_bowstyle.as_field_group }}
        </div>
        {% if form.club %}
            <div class="form-row">
                {{ form.club.as_field_group }}
                {{ form.update_club.as_field_group }}
            </div>
        {% endif %}
        {% if form.county %}
            <div class="form-row">
                {{ form.county.as_field_group }}
            </div>
        {% endif %}
        {% if form.custom_team_name %}
            <div class="form-row">
                {{ form.custom_team_name.as_field_group }}
            </div>
        {% endif %}
        {% if form.novice %}
            <div class="form-row">
                {{ form.novice.as_field_group }}
                {{ form.update_novice.as_field_group }}
            </div>
        {% endif %}
        {% if form.age %}
            <div class="form-row">
                {{ form.age.as_field_group }}
                {{ form.update_age.as_field_group }}
            </div>
        {% endif %}
        {% if form.agb_age %}
            <div class="form-row">
                {{ form.agb_age.as_field_group }}
                {{ form.update_agb_age.as_field_group }}
            </div>
        {% endif %}
        {% if form.ifaa_division %}
            <div class="form-row">
                {{ form.ifaa_division.as_field_group }}
            </div>
        {% endif %}
        {% if form.sessions %}
            <div class="form-row">
                {{ form.sessions.as_field_group }}
            </div>
        {% endif %}
    </div>
    <p><input type="submit" class="btn" {% if button_text %}value="{{ button_text }}"{% endif %}></p>
</form>
