{% extends 'entries/target_list.html' %}

{% block scripts %}
<script src="{{ STATIC_URL }}lib/jquery/jquery-2.1.3.min.js"></script>
<script src="{{ STATIC_URL }}js/ajax-csrf.js"></script>
<script src="{{ STATIC_URL }}js/registration.js"></script>
{% endblock scripts %}

{% block moduleclass %}registration{% endblock %}
{% block title %}Registration{% endblock %}

{% block main %}
<div class="row">
    <div class="col6">
        <em>Sessions:</em>
        <ul>
            {% for session, details in target_list.items %}
            <li><p>
            <span>{{ session.start|date:"l, jS F - f a" }}</span>
            {% if details.entries|length %}
            <span class="unallocated" title="Unallocated entries">{{ details.entries|length }}</span>
            {% endif %}
            <a class="btn btn-small" href="#session-{{ session.pk }}">Skip</a>
            <small title="Unregistered entries">{{ details.unregistered }} unregistered</small>
            </p></li>
            {% endfor %}
        </ul>
    </div>
</div>

{% for session, details in target_list.items %}
<div class="row">
    <div class="col6">
        <div class="registration-board" id="session-{{ session.pk }}" rel="{{ session.archers_per_target }}">
            <div class="actions">
                <select class="club-filter">
                    <option data-club="--all--">--All--</option>
                </select>
            </div>
            <table class="table">
                <thead>
                    <th>Target</th>
                    <th>Name</th>
                    <th>Club</th>
                    <th>Bowstyle</th>
                    <th>Gender</th>
                    {% if competition.has_novices %}
                    <th>Experience</th>
                    {% endif %}
                    {% if competition.has_juniors %}
                    <th>Age</th>
                    {% endif %}
                    <th>ArcheryGB Number</th>
                    <th>Present</th>
                </thead>
                {% for boss, archers in details.target_list %}
                {% for target, archer in archers %}
                {% with archer.session_entry.competition_entry as entry %}
                <tr class="archer {% if not archer or archer.session_entry.present %}present{% endif %}" data-club="{{ entry.club_id }}" data-clubname="{{ archer.session_entry.competition_entry.club }}">
                    <td>{{ boss }}{{ target }}</td>
                    <td>{% if archer %}<a href="{% url 'archer_update' pk=entry.archer_id %}?next={{ request.path }}">{{ entry.archer }}</a>{% endif %}</td>
                    <td>
                        {{ entry.club }}
                        {% if not entry.club == entry.archer.club %}
                        <span class="archer-details">({{ entry.archer.club.name }})</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if archer %}
                            <span class="pill {{ entry.bowstyle|slugify }}">{{ entry.bowstyle }}</span>
                            {% if not entry.bowstyle == entry.archer.bowstyle %}
                            <span class="archer-details">(
                                <span class="pill {{ entry.archer.bowstyle|slugify }}">{{ entry.archer.bowstyle }}</span>
                            )</span>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        {% if archer %}
                            <span class="pill {{ entry.archer.get_gender_display|slugify }}">
                                {{ entry.archer.get_gender_display }}
                            </span>
                        {% endif %}
                    </td>
                    {% if competition.has_novices %}
                    <td>
                        {% if archer and entry.novice == "N" or entry.archer.novice == "N" %}
                        <span class="pill novice">{{ entry.get_novice_display }}</span>
                        {% if not entry.get_novice_display == entry.archer.get_novice_display %}
                        <span class="archer-details">(
                            <span class="pill novice">{{ entry.archer.get_novice_display }}</span>
                        )</span>
                        {% endif %}
                        {% endif %}
                    </td>
                    {% endif %}
                    {% if competition.has_juniors %}
                    <td>{{ entry.get_age_display }}</td>
                    {% endif %}
                    <td>{{ entry.archer.agb_number }}</td>
                    <td>
                        {% if archer %}
                        <a href="#present" class="present btn" data-pk="{{ archer.session_entry.pk }}">Not&nbsp;Present</a>
                        <a href="#not-present" class="not-present btn" data-pk="{{ archer.session_entry.pk }}">Present</a>
                        {% endif %}
                    </td>
                </tr>
                {% endwith %}
                {% endfor %}
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}
