{% extends 'entries/competition_detail.html' %}

{% block competition_content %}
<div class="score-sheets module">
    <h3>Score Sheets</h3>
    {% for session, rounds in by_session.items %}
        <h4>{{ session.start|date:"dS F, g:i a" }}</h4>
        <div class="flex score-sheets-set">
            {% for round in rounds %}
                <div class="score-sheets-block">
                    <h4>{{ round.shot_round }}</h4>
                    <a class="btn" href="{% url 'score_sheets_pdf' slug=competition.slug round_id=round.pk %}">Score sheets</a>
                    <a class="btn" href="{% url 'running_slips_pdf' slug=competition.slug round_id=round.pk %}">Running slips</a>
                </div>
            {% endfor %}
            {% if rounds|length > 1 %}
            <div class="score-sheets-block score-sheets-block-100">
                <a class="btn" href="{% url 'session_score_sheets_pdf' slug=competition.slug session_id=session.pk %}">Full session sheets</a>
                <br>
                <small><em>Only use this if you have mixed rounds on the same targets</em></small>
            </div>
            {% endif %}
        </div>
    {% endfor %}
</div>
{% endblock %}
