{% extends 'entries/competition_detail.html' %}

{% block competition_content %}
<div class="{% block moduleclass %}target-list{% endblock %} module">
    <h2>{% block title %}Target List{% endblock %}</h2>

    {% block main %}
    <div class="row">
        <div class="col6">
            <p>
                <a class="btn" href="{% url 'target_list_pdf' slug=competition.slug %}">View PDF (by round)</a>
                <a class="btn" href="{% url 'target_list_pdf' slug=competition.slug %}?by_session=1">View PDF (by session)</a>
                {% if competition_admin and not editable %}
                    <a class="btn edit" href="{% url 'target_list_edit' slug=competition.slug %}">Edit</a>
                {% endif %}
            </p>
        </div>
    </div>

    {% block target_list %}
    <div class="row row--flex">
    {% for session, details in target_list.items %}
    <div class="session col{% if target_list|length == 2 %}3{% else %}2{% endif %}" id="session-{{ session.pk }}" data-archers="{{ details.entries_json }}">
        <h4>{{ session.start|date:"l, jS F - f a" }}</h4>
        {% for boss, entries in details.target_list %}
            <div class="boss" data-boss="{{ boss }}">
                {% for detail, entry in entries %}
                    <div class="archer-block" data-location="{{ boss }}{{ detail }}">
                        <div class="name">
                            <p>
                                <span class="detail">{{ boss }}{{ detail }}</span>
                            {% if entry %}
                                <span class="name">{{ entry.session_entry.competition_entry.archer }}</span>
                            {% endif %}
                            </p>
                        </div>
                        <div class="bottom">
                            {% if entry %}
                                <p>{{ entry.session_entry.competition_entry.team_name }}</p>
                                <p>
                                    {% if competition.has_novices and entry.session_entry.competition_entry.novice == "N" %}
                                    <span class="pill novice">{{ entry.session_entry.competition_entry.get_novice_display }}</span>
                                    {% endif %}
                                    <span class="pill bowstyle {{ entry.session_entry.competition_entry.bowstyle|slugify }}">{{ entry.session_entry.competition_entry.bowstyle }}</span>
                                    {% if competition.has_juniors and entry.session_entry.competition_entry.age == "J" %}
                                    <span class="pill junior">{{ entry.session_entry.competition_entry.get_age_display }}</span>
                                    {% endif %}
                                    {% if competition.has_agb_age_groups and entry.session_entry.competition_entry.agb_age %}
                                    <span class="pill junior">{{ entry.session_entry.competition_entry.get_agb_age_display }}</span>
                                    {% endif %}
                                    {% if competition.ifaa_rules and entry.session_entry.competition_entry.ifaa_division %}
                                    <span class="pill junior">{{ entry.session_entry.competition_entry.get_ifaa_division_display }}</span>
                                    {% endif %}
                                    <span class="pill gender {{ entry.session_entry.competition_entry.archer.get_gender_display|lower }}">{{ entry.session_entry.competition_entry.archer.get_gender_display }}</span>
                                </p>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    {% endfor %}
    {% endblock %}
    {% endblock %}
</div>
{% endblock %}

