{% extends 'entries/target_list.html' %}

{% block extrastyles %}
<link rel="stylesheet" href="{{ STATIC_URL }}lib/select2/css/select2.min.css">
{% endblock %}

{% block scripts %}
<script src="{{ STATIC_URL }}lib/jquery/jquery-2.1.3.min.js"></script>
<script src="{{ STATIC_URL }}lib/select2/js/select2.min.js"></script>
<script src="{{ STATIC_URL }}js/ajax-csrf.js"></script>
<script src="{{ STATIC_URL }}js/target_list.js"></script>
{% endblock scripts %}

{% block target_list %}
    <div class="row row--flex">
    {% for session, details in target_list.items %}
    <div class="session col{% if target_list|length == 2 %}3{% else %}2{% endif %}" id="session-{{ session.pk }}" data-archers="{{ details.entries_json }}">
        <h4>{{ session.start|date:"l, jS F - f a" }}</h4>
        {% for boss, entries in details.target_list %}
            <div class="boss" data-boss="{{ boss }}">
                {% for detail, entry in entries %}
                    <div class="archer-block" data-location="{{ boss }}{{ detail }}">
                        <div class="name">
                            <div class="actions">
                                {% if entry %}
                                    <a class="delete action-button" data-pk="{{ entry.session_entry.pk }}"></a>
                                {% endif %}
                            </div>
                            <p>
                                <span class="detail">{{ boss }}{{ detail }}</span>
                            {% if entry %}
                                <span class="name">{{ entry.session_entry.competition_entry.archer }}</span>
                            {% else %}
                                <a class="select">Select…</a>
                            {% endif %}
                            </p>
                        </div>
                        <div class="bottom">
                            {% if entry %}
                                <p>{{ entry.session_entry.competition_entry.team_name }}</p>
                                <p>
                                    <span class="pill bowstyle {{ entry.session_entry.competition_entry.bowstyle|slugify }}">{{ entry.session_entry.competition_entry.bowstyle }}</span>
                                    <span class="pill gender {{ entry.session_entry.competition_entry.archer.get_gender_display|lower }}">{{ entry.session_entry.competition_entry.archer.get_gender_display }}</span>
                                    {% if competition.has_novices and entry.session_entry.competition_entry.novice == "N" %}
                                    <span class="pill novice">{{ entry.session_entry.competition_entry.get_novice_display }}</span>
                                    {% endif %}
                                    {% if competition.has_juniors and entry.session_entry.competition_entry.age == "J" %}
                                    <span class="pill junior">{{ entry.session_entry.competition_entry.get_age_display }}</span>
                                    {% endif %}
                                    {% if competition.has_agb_age_groups and entry.session_entry.competition_entry.agb_age %}
                                    <span class="pill junior">{{ entry.session_entry.competition_entry.get_agb_age_display }}</span>
                                    {% endif %}
                                </p>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
        {% if details.entries %}
        <div class="unallocated">
            <h4>Unallocated entries</h4>
            {% for entry in details.entries %}
            <div class="archer-block" data-pk="{{ entry.pk }}">
                <div class="name">
                    <p>{{ entry.competition_entry.archer }}</p>
                </div>
                <div class="bottom">
                    <p>{{ entry.competition_entry.team_name }}</p>
                    <p>
                        <span class="pill bowstyle {{ entry.competition_entry.bowstyle|slugify }}">{{ entry.competition_entry.bowstyle }}</span>
                        <span class="pill gender {{ entry.competition_entry.archer.get_gender_display|lower }}">{{ entry.competition_entry.archer.get_gender_display }}</span>
                        {% if competition.has_novices and entry.competition_entry.novice == "N" %}
                        <span class="pill novice">{{ entry.competition_entry.get_novice_display }}</span>
                        {% endif %}
                        {% if competition.has_juniors and entry.competition_entry.age == "J" %}
                        <span class="pill junior">{{ entry.competition_entry.get_age_display }}</span>
                        {% endif %}
                        {% if competition.has_agb_age_groups and entry.competition_entry.agb_age %}
                        <span class="pill junior">{{ entry.competition_entry.get_agb_age_display }}</span>
                        {% endif %}
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}
