{% extends 'entries/competition_detail.html' %}

{% block extrastyles %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/eggplant/autocomplete.css" />
{% endblock %}

{% block scripts %}
<script src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery-autocomplete.js"></script>
<script src="{{ STATIC_URL }}js/ajax-csrf.js"></script>
<script src="{{ STATIC_URL }}js/target_list.js"></script>
{% endblock scripts %}

{% block competition_content %}
<div class="{% block moduleclass %}target-list{% endblock %} module">
    <h4>{% block title %}Manage Target Lists{% endblock %}</h4>

    {% block main %}
    <div class="intro">
        Sessions:
        <ul>
            {% for session, details in target_list.items %}
            <li>
            <span>{{ session.start|date:"l, jS F - f a" }}</span>
            {% if details.entries|length %}
            <span class="unallocated" title="Unallocated entries">{{ details.entries|length }}</span>
            {% endif %}
            <a class="btn" href="#session-{{ session.pk }}">Edit</a>
            <a class="btn" href="pdf/">View PDF</a>
            </li>
            {% endfor %}
        </ul>
    </div>

    {% for session, details in target_list.items %}
    <div class="session" id="session-{{ session.pk }}" data-archers="{{ details.entries_json }}">
        <h5>{{ session.start|date:"l, jS F - f a" }}</h5>
        {% for boss, entries in details.target_list %}
            <div class="boss" data-boss="{{ boss }}">
                <span class="boss-number">{{ boss }}</span>
                <ul>
                    {% for detail, entry in entries %}
                    <li>
                        <span class="detail">{{ detail }}:</span>
                        {% if entry %}
                            <span class="archer">{{ entry.session_entry.competition_entry.archer }}</span> <a class="delete" data-location="{{ boss }}{{ detail }}" data-pk="{{ entry.pk }}" data-entry-pk="{{ entry.session_entry.pk }}">X</a>
                        {% else %}
                            <input data-location="{{ boss }}{{ detail }}">
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
        <ul class="unallocated">
            {% for entry in details.entries %}
            <li data-pk="{{ entry.pk }}">{{ entry.competition_entry.archer }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
    {% endblock %}
</div>
{% endblock %}
