{% extends 'base.html' %}

{% block scripts %}
<script src="{{ STATIC_URL }}js/mootools-core-1.3.js"></script>
<script src="{{ STATIC_URL }}js/add_arrow_values_index.js"></script>
<script type="text/javascript">
    window.addEvent('domready', function () {
        var valuesIndexPage = new ValuesIndexPage();
        valuesIndexPage.setUp();
    });
</script>
{% endblock scripts %}

{% block content %}
<div class="actions">
    <a href="{% url records.views.competition_index slug=the_round.competition.slug %}">Back</a>
</div>
<h1>Choose scores to update</h1>

{% for dozen in dozens %}
    <h3 id="dozen-{{dozen}}">Dozen {{ dozen }}</h3>
    Targets:
    {% for target in targets %}
    <a href="target/{{ target.target }}/doz/{{dozen}}/" {% if target.target == highlighted.target and dozen == highlighted.dozen %}class="focus"{% endif %}>{{ target.target }}</a>
    {% endfor %}
{% endfor %}
{% endblock %}
