{% extends 'competition_base.html' %}

{% block title %}Add scores{% endblock %}

{% block scripts %}
<script src="{{ STATIC_URL }}js/mootools-core-1.3.js"></script>
<script src="{{ STATIC_URL }}js/add_scores.js"></script>
<script type="text/javascript">
    window.addEvent('domready', function () {
        var smartInput = new SmartInput();
        smartInput.setUp();
    });
</script>
{% endblock scripts %}

{% block page_content %}
<h2>Add Entries</h2>
<form action="" method="post" autocomplete="off">
    {{ form.errors }}
    <ul>
        <li class="smart-input">
            <label for="archer_input">{{ form.archer.label }}:</label>
            {{ form.archer_name }}
            <div id="archer-options"></div>
            <div class="hidden">{{ form.archer }}</div>
        </li>
        <li class="hidden archer-options new-archer-options">{{ form.bowstyle.label }}: {{ form.bowstyle }}</li>
        <li class="hidden archer-options new-archer-options">{{ form.club.label }}: {{ form.club }}</li>
        <li class="hidden new-archer-options">{{ form.gender.label }}: {{ form.gender }}</li>
        <li class="hidden new-archer-options">{{ form.new_archer }}</li>
        {% if not the_round.use_individual_arrows %}
        <li>{{ form.score.label }}: {{ form.score }}</li>
        <li>{{ form.hits.label }}: {{ form.hits }}</li>
        <li>{{ form.golds.label }}: {{ form.golds }}</li>
        {% else %}
        <li>{{ form.target.label }}: {{ form.target }}</li>
        {% endif %}
    </ul>
    {% csrf_token %}
    <input type="submit" />
</form>
{% endblock %}
