{% extends 'base.html' %}

{% block content %}
<h1>{{ competition }}</h1>

<div class="results">
    {% for result_round in results.values %}
    <table class="results-table">
        {% for result in result_round %}
            <tr class="header">
                <th colspan="10"><h2>{{ result.class }}</h2></th>
            </tr>
            {% for score in result.scores %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ score.archer }}</td>
                <td>{{ score.club }}</td>
                <td class="text-right">{% if score.score %}{{ score.score }}{% else %}-{% endif %}</td>
                <td class="text-right">{% if score.hits %}{{ score.hits }}{% else %}-{% endif %}</td>
                <td class="text-right">{% if score.golds %}{{ score.golds }}{% else %}-{% endif %}</td>
                {% if result.round.has_xs %}
                <td class="text-right">{% if score.xs %}{{ score.xs }}{% else %}-{% endif %}</td>
                {% endif %}
            </tr>
            {% endfor %}
        {% endfor %}
    </table>
    {% endfor %}
</div>

<div class="actions">
    {% for round in competition.boundround_set.all %}
        {% if round.use_individual_arrows %}
        <p><a href="/add-arrow-values/{{ round.pk }}/">Add arrow scores for the {{ round.round_type }} round</a></p>
        <p><a href="/add-scores/{{ round.pk }}/">Add entrants for the {{ round.round_type }} round</a></p>
        {% else %}
        <p><a href="/add-scores/{{ round.pk }}/">Add scores for the {{ round.round_type }} round</a></p>
        {% endif %}
    {% endfor %}
</div>

{% endblock %}
