{% extends 'base.html' %}

{% block content %}
    <h1>{{ competition }}</h1>
    {% block actions %}
    <div class="actions">
        <ul>
        {% for round in competition.boundround_set.all %}
            {% if round.use_individual_arrows %}
            <li><a href="{% url records.views.competition_index slug=competition.slug %}">View Results</a></li>
            <li><a href="{% url records.views.add_arrow_values_index round_id=round.pk %}">Add arrow scores for the {{ round.round_type }} round</a></li>
            <li><a href="{% url records.views.add_scores round_id=round.pk %}">Add entrants for the {{ round.round_type }} round</a></li>
            {% else %}
            <li><a href="/add-scores/{{ round.pk }}/">Add scores for the {{ round.round_type }} round</a></li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
    {% endblock %}

    {% block page_content %}
    {% endblock page_content %}
{% endblock content %}
