{% extends 'entries/competition_detail.html' %}

{% block scripts %}
<script src="{{ STATIC_URL }}js/mootools-core-1.3.js"></script>
<script src="{{ STATIC_URL }}js/input-arrows.js"></script>
{% endblock %}

{% block competition_content %}
<div class="module input-arrows">
    <h4>Enter arrow values for boss {{ boss }}, {% if session.arrows_entered_per_end == 12 %}dozen{% else %}end{% endif %} {{ dozen }}</h4>
    <form action="{{ request.get_full_path }}" method="post" autocomplete="off">
        <table class="target table">
            <thead>
                <tr>
                    <th colspan="2">Archer</th>
                    <td colspan="{% if forms.0.forms|length > 6 %}6{% else %}{{ forms.0.forms|length }}{% endif %}"></td>
                    {% if forms.0.forms|length > 6 %}
                    <th>ET</th>
                    <td colspan="6"></td>
                    <th>ET</th>
                    {% endif %}
                    <th>Doz</th>
                    {% for heading in round.scoring_headings %}
                    <th>{{ heading }}</th>
                    {% endfor %}
                    <th>RT</th>
                    <th>Retired</th>
                </tr>
            </thead>
            {% for target in forms %}
            <tr class="no-border">
                <td>{{ target.target }}</td>
                <td><a href="{% url 'input_arrows_archer' slug=competition.slug score_id=target.score.pk %}">{{ target.archer }}</a></td>
                {% for form in target.forms %}
                <td>{{ form.arrow_value }}<span class="hidden">{{ form.is_x.value }}</span></td>
                {% if target.forms|length > 6 and forloop.counter == 6 %}
                <th class="end-total et1">0</th>
                {% endif %}
                {% if forloop.last %}
                {% if target.forms|length > 6 %}
                <th class="end-total et2">0</th>
                {% endif %}
                <th class="doz-total">0</th>
                {% for heading in round.scoring_headings %}
                <th class="{{ heading|lower }}"></th>
                {% endfor %}
                <th class="rt" rel="{{ target.running_total }}">{{ target.running_total }}</th>
                {% endif %}
                {% endfor %}
                <td class="retiring">{{ target.retiring_form.retired }}</td>
            </tr>
            {% empty %}
            <tr><td colspan="10">No archers</td></tr>
            {% endfor %}
        </table>
        <div class="save">
            <input type="submit" value="Save" class="btn" />
            {% if next_exists %}
            <input type="submit" value="Save and go to next target" name="next" class="btn" />
            {% endif %}
        </div>
        {% csrf_token %}
    </form>
    <div class="clear"></div>
</div>
{% endblock %}
