{% extends 'input_arrows.html' %}

{% block scripts %}
<script src="{{ STATIC_URL }}lib/jquery/jquery-2.1.3.min.js"></script>
<!-- TODO: Move the non-mobile JS to jQuery from mootools -->
<script>
    $.noConflict();
</script>
{{ block.super }}
<script src="{{ STATIC_URL }}js/input-arrows-mobile.js"></script>
{% endblock %}

{% block bodyclass %}mobile{% endblock %}

{% block competition_content %}
<div class="module input-arrows">
    <h4>Enter arrow values for boss {{ boss }}, dozen {{ dozen }}</h4>
    <form action="" method="post" autocomplete="off">
        <table class="target">
            <tr>
                <th colspan="2">Archer</th>
                <td colspan="{% if forms.0.forms|length > 6 %}6{% else %}{{ forms.0.forms|length }}{% endif %}"></td>
                {% if forms.0.forms|length > 6 %}
                <th>ET</th>
                <td colspan="6"></td>
                <th>ET</th>
                {% endif %}
                <th>Doz</th>
                <th>Hits</th>
                <th>Golds</th>
                <th>RT</th>
            </tr>
            {% for target in forms %}
            <tr>
                <td>{{ target.target }}</td>
                <td>{{ target.archer }}</td>
                {% for form in target.forms %}
                <td class="field">{{ form.arrow_value }}<span class="hidden">{{ form.is_x.value }}</span></td>
                {% if target.forms|length > 6 and forloop.counter == 6 %}
                <th class="end-total et1">0</th>
                {% endif %}
                {% if forloop.last %}
                {% if target.forms|length > 6 %}
                <th class="end-total et2">0</th>
                {% endif %}
                <th class="doz-total">0</th>
                <th class="hits">0</th>
                <th class="golds">0</th>
                <th class="rt" rel="{{ target.running_total|default:0 }}">{{ target.running_total }}</th>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        <div class="input-buttons">
            <div class="input" data-value="X">X</div>
            <div class="input" data-value="10">10</div>
            <div class="input" data-value="9">9</div>
            <div class="input" data-value="8">8</div>
            <div class="input" data-value="7">7</div>
            <div class="input" data-value="6">6</div>
            <div class="input" data-value="5">5</div>
            <div class="input" data-value="4">4</div>
            <div class="input" data-value="3">3</div>
            <div class="input" data-value="2">2</div>
            <div class="input" data-value="1">1</div>
            <div class="input" data-value="M">M</div>
        </div>
        <div class="save">
            <input type="submit" value="Save" class="btn" />
        </div>
        {% csrf_token %}
    </form>
    <div class="clear"></div>
</div>
{% endblock %}
