{% extends 'target_list.html' %}

{% block scripts %}
<script src="{{ STATIC_URL }}js/mootools-core-1.3.js"></script>
<script src="{{ STATIC_URL }}js/leaderboard.js"></script>
{% endblock scripts %}

{% block moduleclass %}leaderboard{% endblock %}
{% block title %}{{ title }}{% endblock %}

{% block main %}
{% for session, round, results in scores %}
<div class="board {% if not forloop.counter0 %}selected{% endif %}" id="session-{{ session.pk }}-round-{{ round.pk }}">
    <table>
        {% for category, scores in results %}
        <tr>
            <td colspan="100%"><h5>{{ category }}</h5></td>
        </tr>
        {% for score in scores %}
        <tr>
            {% if score.disqualified %}
            <td></td>
            {% else %}
            <td>{{ forloop.counter }}</td>
            {% endif %}
            <td>{{ score.target.session_entry.competition_entry.archer }}</td>
            <td>{{ score.target.session_entry.competition_entry.club}}</td>
            {% if score.disqualified %}
            <td>DSQ</td>
            <td></td>
            <td></td>
            <td></td>
            {% else %}
            <td>{{ score.score }}</td>
            <td>{{ score.hits }}</td>
            <td>{{ score.golds }}</td>
            <td>{{ score.xs }}</td>
            {% endif %}
        </tr>
        {% endfor %}
    {% endfor %}
    </table>
</div>
{% endfor %}
{% endblock %}
